#contacts-page {
  padding-top: 86px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.02em;

  .display-1 {
    margin-top: 116px;
    margin-bottom: 48px;
  }

  .contacts-description {
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
  }

  .form-container {
    max-width: 570px;
    margin: 0 auto;
  }

  .map-icon-row {
    margin: 122px auto 30px;
    width: 36px;
    height: 44px;
    position: relative;

    .red-circle {
      position: absolute;
      background-color: #FF3200;
      height: 12px;
      width: 12px;
      top: 12px;
      left: 12px;
      border-radius: 6px;
    }
  }

  .map-container {
    max-width: 570px;
    margin: 0 auto 100px;
  }

  .address-container {
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
  }
}

.hide-input {
  position: absolute;
  opacity: 0;
}

