#main-block {
  background:   url("../images/index.svg") no-repeat center,
                #2C4EDD url("../images/bg.svg") no-repeat center;

  background-size: cover;
  font-weight: 500;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #fff;
  box-sizing: content-box;
  padding-top: 86px;
  min-height: 92vh;

  .container {
    width: auto;
  }

  .promo-text {
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: 0.02px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 32px;
    max-width: 800px;
  }

  #gift-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 92px;

    .gift-button {
      box-sizing: border-box;
      min-width: 248px;
    }
  }

  @media (max-width: 465px) {
    background:  url("../images/boodet_online22.svg") no-repeat center,
                  #2C4EDD url("../images/bg.svg") no-repeat center;
    background-size: cover;

    .promo-text {
      font-size: 19px;
      line-height: 1.4;
      text-align: left;
      margin-top: 100px;
      margin-bottom: 48px;
    }

    #gift-button-container {
      margin-bottom: 39px;
    }

    .gift-button {
      width: 100%;
    }
  }

  @media (max-height: 800px) {
    #gift-button-container {
      margin-bottom: 50px;
    }

    .page-title {
      margin: 50px 0;
    }
  }
}

#configurator {
  margin-bottom: 120px;
  box-sizing: border-box;

  .application--wrap {
    min-height: auto;
  }

  &.alternative-configurator-container {
    @media (max-width: 465px) {
      background-color: #fff;
      margin-bottom: 0;
      padding-top: 10px;
      padding-bottom: 0;
    }
  }

  iframe {
    width: 100%;
    height: 132px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(51, 51, 51, 0.12);

    @media (max-width: 575.98px) {
      box-shadow: none;
      border: 1px solid #E7EBED;
    }
  }

  @media (max-width: 1199.98px) {
    iframe {
      height: 235px;
    }
  }

  @media (max-width: 767.98px) {
    iframe {
      height: 344px;
    }
  }

  @media (max-width: 575.98px) {
    >.container {
      padding: 0 10px;
    }
  }


  @media (max-width: 465px) {
    iframe {
      height: 573px;
    }
  }
}

.page-title {
  margin-top: 120px;
  margin-bottom: 120px;
  font-family: "Gilroy", sans-serif;
  line-height: 1.12;

  @media (max-height: 850px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  h1 {
    font-size: 100px;
    line-height: 1.12;
    text-align: center;
    font-weight: 800;

    @media (max-width: 1199.98px) {
      font-size: 80px;
    }

    @media (max-height: 850px) {
      font-size: 80px;
    }

    @media (max-width: 991.98px) {
      font-size: 62px;
    }

    @media (max-width: 767.98px) {
      font-size: 46px;
    }

    @media (max-width: 465px) {
      font-size: 36px;
      line-height: 1.2;
      text-align: left;
    }
  }

  @media (max-width: 1199.98px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @media (max-width: 991.98px) {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  @media (max-width: 767.98px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media (max-width: 465px) {
    margin-top: 30px;
    margin-bottom: 44px;
  }
}

.section-count {
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 4px;
}

.section {
  &.dark-bg {
    color: #fff;
    background-color: #20222c;
  }
}

#main-section-advantages {
  margin-bottom: 72px;

  >.container {

    .row {
      margin: 0 15px;

      >div {
        &:last-of-type {
          position: relative;
          left: 100px;

          @media (max-width: 1199.98px) {
            left: 0;
            display: flex;
            justify-content: flex-end;
          }

          @media (max-width: 991.98px) {
            display: block;
          }
        }
      }
    }
  }

  .row {
    >div {
      padding: 0;
    }
  }

  ul {
    font-size: 17px;
    line-height: 24px;
    position: relative;
    letter-spacing: 0.02em;

    li {
      padding-left: 18px;
      margin-bottom: 18px;
      position: relative;
      font-weight: 400;

      &:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 9px;

      }
    }
  }

  @media (max-width: 575.98px) {
    padding: 0 20px;
  }
}

.change-order-container {
  display: flex;
  flex-direction: column;

  @media (max-width: 767.98px) {
    #advantages {
      order: 2;
      background-color: #fff;
      color: $font-color;
      font-weight: 400;
      position: relative;
      padding-top: 236px;
      margin-top: -236px;

      ul {
        li {
          font-size: 15px;

          &:before {
            background-color: $font-color;
          }
        }
      }
    }
  }
}


#white-block {
  margin-top: 120px;
  margin-bottom: 56px;
  font-family: "Gilroy", sans-serif;
  color: $font-color;
}


#video-section {
  padding: 120px 0 0;
  background: linear-gradient(180deg, #FFFFFF 50%, rgba(242, 243, 246, 0) 100%);

  .show-mobile {
    display: none;
  }

  @media (max-width: 465px) {
    padding: 50px 0 100px;

    .show-mobile {
      display: block;
    }
  }

  .boodet-bg-text {
    background: linear-gradient(117.14deg, $secondary-brand-color 1.77%, $primary-brand-color 100%);
    color: #fff;
    line-height: 1.1;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 3px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .mobile-bg-text-container {
    display: none;
    flex-direction: column;
    align-items: center;
    .mobile-bg-text {
      background: linear-gradient(117.14deg, $secondary-brand-color 1.77%, $primary-brand-color 100%);
      color: #fff;
      margin-bottom: 10px;
      flex-basis: 44px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media (min-width: 361px) and (max-width: 768px)  {
      display: flex;
    }
  }

  .mobile-xs-bg-text-container {
    display: none;
    flex-direction: column;
    align-items: center;
    .mobile-bg-text {
      background: linear-gradient(117.14deg, $secondary-brand-color 1.77%, $primary-brand-color 100%);
      color: #fff;
      margin-bottom: 10px;
      flex-basis: 44px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media (max-width: 360px) {
      display: flex;
    }
  }



  #youtube-video-container {
    //background: linear-gradient(117.14deg, #E54527 1.77%, #5E53BC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #video-container-cover {
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 5;
      top: 0;
      transition: height linear 900ms;
      position: absolute;

      @media (max-width: 991px) {
        height: 0;
      }

      &.show {
        height: 0;
      }
    }

    @media (max-width: 465px) {
      margin-left: -15px;
      margin-right: -15px;
    }

    iframe {
      //opacity: 0;
      position: absolute;
    }

    .play-video-button-circle {
      cursor: pointer;
      width: 170px;
      height: 170px;
      border: 10px solid #FFFFFF;
      border-radius: 50%;
      //display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5;
      display: none;

      img {
        height: 72px;
        padding-left: 11px;
      }

      @media (max-width: 465px) {
        width: 100px;
        height: 100px;

        img {
          height: 42px;
          padding-left: 9px;
        }
      }
    }
  }
}

#why-we {
  padding: 120px 0 50px;
  background: linear-gradient(0deg, #F2F3F6 0%, rgba(242, 243, 246, 0) 100%);

  @media (max-width: 767px) {
    padding: 20px 0 20px;
  }
}

#cases {
  padding: 120px 0 0;
  background: #fff;

  .container {
    text-align: center;
  }
  .cases-slider-container {
    background-color: #F2F3F6;
    padding: 72px 70px;
    height: 414px;
    position: relative;
    overflow: hidden;

    @media (max-width: 767px) {
      padding: 32px 60px;
    }

    @media (max-width: 575px) {
      margin-left: -15px;
      margin-right: -15px;
      padding: 30px 30px;
    }

    .carousel-overflow {
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .carousel-container {
      position: relative;
      left: 0;
      width: 100%;
      height: 100%;
      transition: margin-left ease-in-out 500ms;
      padding-bottom: 1px;

      .cases-slider-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        opacity: 0;
        transition: opacity ease-in-out 500ms;

        &.active {
          opacity: 1;
        }

        &[data-id='0'] {
          left: 0
        }

        &[data-id='1'] {
          left: 100%;
        }

        &[data-id='2'] {
          left: 200%;
        }

        &[data-id='3'] {
          left: 300%;
        }
      }
    }




    .slider-button {
      position: absolute;
      top: 183px;
      cursor: pointer;
      z-index: 5;

      &:hover {
        svg path {
          stroke: $secondary-brand-color;
        }
      }

      &.left {
        left: 70px;
      }

      &.right {
        right: 70px;
      }

      &.disabled {
        cursor: default;
        svg path {
          stroke: $form-border-color!important;
        }
      }

      @media (max-width: 959px) {
        &.left {
          left: 20px;
        }

        &.right {
          right: 20px;
        }
      }

      @media (max-width: 575px) {
        &.left {
          left: 5px;
        }

        &.right {
          right: 5px;
        }
      }
    }
  }

  .cases-description {
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-top: 40px;
    margin-bottom: 32px;
  }

  .quote-img {
    margin-bottom: 56px;
  }

  .case-comment {
    margin-bottom: 12px;
    font-style: italic;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.02em;
    max-width: 840px;
    text-align: center;


  }

  @media (max-width: 767px) {
    .quote-img {
      margin-bottom: 32px;
    }
  }

  @media (max-width: 575px) {
    .quote-img {
      margin-bottom: 22px;
    }

    .case-comment {
      font-size: 20px;
    }
    .description-text {
      font-size: 15px;
    }
  }

  @media (max-width: 465px) {
    padding-top: 60px;
  }
}

#security {
  padding: 120px 0 105px;
  background: linear-gradient(0deg, #F2F3F6 0%, #fff 100%);

  .security-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    .security-item {
      background: #fff;
      margin: 15px;
      padding: 20px 24px 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 370px;

      .description {
        font-weight: 300;
        font-size: 17px;
        line-height: 28px;
        letter-spacing: 0.02em;
      }


      img {
        position: relative;
        top: -50px;
        opacity: 0;
        transition: all ease 450ms;

        @media (max-width: 991px) {
          top: 0;
          opacity: 1;
        }

        &.show {
          top: 0;
          opacity: 1;
        }
      }
    }
  }
}

#test, #contest-section {
  padding: 120px 0;
  background: #20222c url("../images/dark_bg_section.png") center no-repeat;
  background-size: contain;

  @media (max-width: 767px) {
    padding: 60px 0;
  }
}

#support {
  padding: 120px 0;
  background: linear-gradient(0deg, #fff 0%, #F2F3F6 100%);

  @media (max-width: 767px) {
    padding: 80px 0 50px;
  }

  .support-images {
    position: relative;
    img {
      border-radius: 12px;
      max-width: 100%;
    }

    .support-main-image {
      position: relative;
      left: -2000px;
      transition: left linear 800ms;

      &.show {
        left: 0;
      }

      @media (max-width: 1400px) {
        left: 0
      }
    }

    .chat-image {
      position: absolute;
      right: -2000px;
      top: 100px;
      transition: right linear 800ms;
      max-width: 100%;

      &.show {
        right: -20px;
      }

      @media (max-width: 1400px) {
        right: -20px
      }

      @media (max-width: 959px) {
        right: -30px;
        top: auto;
        bottom: -50px;

        &.show {
          right: -30px;
        }

        max-width: 360px;
      }

      @media (max-width: 767px) {
        position: relative;
        bottom: 30px;
        right: 0;

        &.show {
          right: 0;
        }
      }

      @media (max-width: 575px) {
        max-width: 310px;
      }
    }
  }
}

#more-with-us {
  padding: 0 0 96px;
  background-color: #fff;

}

#options {
  background: #fff;
  padding: 0 0 20px;

  @media (max-width: 465px) {
    padding-bottom: 36px;
  }
}

#compatibility {
  padding: 0 0 120px;
  background-color: #fff;

  .more-cases-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    @media (max-width: 465px) {
      margin-left: -20px;
      margin-right: -20px;
    }

    .more-case {
      margin: 0 15px 30px;
      padding: 28px 30px;
      border: 2px solid #E7EBED;
      box-sizing: border-box;
      max-width: 570px;
      background-color: #fff;
      flex-grow: 1;

      @media (max-width: 465px) {
        margin-bottom: 30px;
      }

      .title-row {
        display: flex;
        margin-bottom: 26px;
        align-items: center;

        @media (max-width: 465px) {
          display: block;

          img {
            margin-bottom: 32px;
          }
        }

        img {
          margin-right: 32px;
          position: relative;
          top: -50px;
          opacity: 0;
          transition: all ease 450ms;

          @media (max-width: 991px) {
            top: 0;
            opacity: 1;
          }

          &.show {
            top: 0;
            opacity: 1;
          }
        }

        .title {
          font-family: "Gilroy", sans-serif!important;
          font-size: 24px;
          line-height: 1.12;
          font-weight: 800;
        }
      }

      .description {
        padding-left: 78px;

        @media (max-width: 465px) {
          padding-left: 0;
        }
      }
    }

  }
}

#prices {
  background-color: #F2F3F6;

  iframe {
    width: 100%;
    height: 712px;
    overflow: hidden;

    @media (max-width: 1199px) {
      height: 930px;
    }

    @media (max-width: 991px) {
      height: 970px;
    }

    @media (max-width: 768px) {
      height: 1270px;
    }

    @media (max-width: 500px) {
      height: 880px;
    }


  }
}

@keyframes boodetArrow {
  0% {left: 0}
  50% {left: 10px}
  100% {left: 0}
}

.boodet-total-price-button .boodet-btn {
  img {
    position: relative;
    left: 0;
    animation: boodetArrow 1s infinite ease;
  }
}

@media (max-width: 575px) {
  .mobile-full-width {
    width: 100%!important;
  }

  .test-form-btn {
    width: 100%;
  }
}

