$primary-brand-color: #2c4edd;
$secondary-brand-color: #ff3200;
$font-color: #1A173B;
$font-color-gray: #637280;
$link-hover-color: #4B6DFF;
$boodet-form-border-color: #e7ebed;
$boodet-blue-brand-color: #2c4edd;
$boodet-red-brand-color: #ff3200;
$boodet-price-border-color: #f9e9bc;
$form-border-color: rgba(18, 63, 85, 0.2);
$red-brand-color: #ef4223;
$red-brand-color-hover: #ff5637;
$green-brand-color: #00b0a3;
$green-brand-color-hover: #00c6b8;
$font-color-gray: #6c6b82;
$success-brand-color: #4CAE76;
$light-gray: #F2F3F6;
$dark-gray: #D5D9E5;


$my-spacer: 2px;
$my-spacers: (
  _2: ($my-spacer * 1),
  _4: ($my-spacer * 2),
  _6: ($my-spacer * 3),
  _8: ($my-spacer * 4),
  _10: ($my-spacer * 5),
  _12: ($my-spacer * 6),
  _14: ($my-spacer * 7),
  _16: ($my-spacer * 8),
  _18: ($my-spacer * 9),
  _20: ($my-spacer * 10),
  _22: ($my-spacer * 11),
  _24: ($my-spacer * 12),
  _26: ($my-spacer * 13),
  _28: ($my-spacer * 14),
  _30: ($my-spacer * 15),
  _32: ($my-spacer * 16),
  _34: ($my-spacer * 17),
  _36: ($my-spacer * 18),
  _38: ($my-spacer * 19),
  _40: ($my-spacer * 20),
  _42: ($my-spacer * 21),
  _44: ($my-spacer * 22),
  _46: ($my-spacer * 23),
  _48: ($my-spacer * 24),
  _50: ($my-spacer * 25),
  _52: ($my-spacer * 26),
  _54: ($my-spacer * 27),
  _56: ($my-spacer * 28),
  _58: ($my-spacer * 29),
  _60: ($my-spacer * 30),
  _62: ($my-spacer * 31),
  _64: ($my-spacer * 32),
  _66: ($my-spacer * 33),
  _68: ($my-spacer * 34),
  _70: ($my-spacer * 35),
  _72: ($my-spacer * 36),
  _74: ($my-spacer * 37),
  _76: ($my-spacer * 38),
  _78: ($my-spacer * 39),
  _86: ($my-spacer * 43),
  _90: ($my-spacer * 45),
  _100: ($my-spacer * 50),
  _120: ($my-spacer * 60),
)