.v-text-field .v-label {
  color: rgba(26, 23, 59, 0.64)!important;
  font-family: 'Source Sans Pro', sans-serif;
}

.v-text-field.two-line-label .v-label {
  top: -64px!important;
}

.layout.form-row {
  .flex {
    margin: 0 18px;
  }
}


.new-design-form {
  .v-input.v-text-field .v-input__control .v-input__slot {
    background-color: $light-gray;
    border-color: $light-gray;
  }

  .v-input.v-text-field.v-input--is-focused .v-input__control .v-input__slot {
    background-color: #fff;
  }

  .v-select__selections {
    flex-wrap: nowrap;
    overflow: hidden;

    .v-select__selection--comma {
      white-space: nowrap;
    }
  }

  .v-input.v-text-field .v-input__control .v-input__slot {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;

    input {
      font-size: 16px;
      line-height: 24px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
    }
  }

  .v-input--selection-controls.v-input .v-label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $font-color-gray;
    font-weight: 400;
  }


}

.v-input--selection-controls .v-input__slot {
  margin-bottom: 0!important;
}

.v-list__tile__action {
  min-width: auto;
}

.v-list__tile__title {
  color: $font-color-gray
}

.v-messages__message {
  font-weight: 400;
}

.v-input--has-state.error--text .v-label {
  -webkit-animation: none;
  animation: none;
}


