<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KN6SZ5V');</script>
  <!-- End Google Tag Manager -->
  
  <meta charset="UTF-8">
  <title>Boodet Online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@1.3.8/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  <script src="js/jquery-3.4.0.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@1.3.8/dist/vuetify.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/mainpage_scripts.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KN6SZ5V"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header id="header" class="new-header">
  <div class="container">
    <div class="header-row">
      <div class="header-left-part">
        <div class="main-menu">
          <div class="menu-item">
            <div class="dropdown">
              <a class="select" href="#" role="button" id="dropdownProductsMenu"
                 data-toggle="dropdown">
                Продукты
              </a>

              <div class="dropdown-menu dropdown-menu-tip-nw" aria-labelledby="dropdownProductsMenu">
                <a class="dropdown-item" href="cloud-power">Виртуальный сервер</a>
                <a class="dropdown-item" href="cloud-store">Облачное хранилище</a>
              </div>
            </div>
          </div>
          <div class="menu-item"><a href="prices">Цены</a></div>
          <div class="menu-item"><a href="cases">Кейсы</a></div>
          <div class="menu-item"><a href="blog">Блог</a></div>
        </div>
        <div id="mobile-menu-btn">
          <img class="open" src="images/burger.svg">
          <img class="close" src="images/close.svg">
          <span>Меню</span>
        </div>
      </div>
      <a href="/">
        <div class="new-logo">
          <img class="white-logo" src="images/logo_white.svg">
          <img class="grad-logo" src="images/logo_grad.svg">
        </div>
        <div class="short-logo">
          <img class="white-logo" src="images/logo_white_short.svg">
          <img class="grad-logo" src="images/logo_grad_short.svg">
        </div>
      </a>
      <div class="header-right-part">
        <a class="desktop-link" href="https://my.boodet.online/login" target="_blank">Вход</a>
        <a class="desktop-link boodet-btn small white-color m2l_40" href="https://my.boodet.online/login" target="_blank">Создать сервер</a>
        <a id="mobile-login-link" class="vector-link" href="https://my.boodet.online/login" target="_blank">
          <img src="images/vector_2.svg">
          <span>Войти</span>
        </a>
      </div>
    </div>
  </div>
  <div id="mobile-menu">
    <div class="item m2t_50">
      <a href="">Продукты</a>
    </div>
    <div class="sub-item">
      <a href="/cloud-power">Виртуальный сервер</a>
    </div>
    <div class="sub-item m2b_16">
      <a href="/cloud-store">Облачное хранилище</a>
    </div>
    <div class="item">
      <a href="/prices">Цены</a>
    </div>
    <div class="item">
      <a href="/cases">Кейсы</a>
    </div>
    <div class="item">
      <a href="/blog">Блог</a>
    </div>
    <div class="item">
      <a href="/documents">Документы и SLA</a>
    </div>
  </div>
</header>
<div id="content" class="section new-design">
  <div id="vue-app">
    <v-app>
      <div id="main-block">
        <div class="container">
          <div class="page-title">
            <h1>
              Виртуальные серверы по&nbsp;доступным ценам
            </h1>
          </div>
        </div>
    
        <div class="change-order-container">
          <div id="main-section-advantages">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <ul>
                    <li>
                      От 57 р/месяц за сервер
                    </li>
                    <li>
                      Только SSD
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul>
                    <li>
                      Серверы на 500 рублей в подарок
                    </li>
                    <li>
                      Почасовая оплата
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul>
                    <li>
                      Гибкое масштабирование
                    </li>
                    <li>
                      Полный root-доступ
                    </li>
                  </ul>
                </div>
              </div>
    
            </div>
          </div>
          <div id="configurator" class="alternative-configurator-container">
            <div class="container">
              <div id="main-price-configurator">
                <div class="boodet-price-configurator">
                    <div class="price-configurator-row">
                  
                      <div class="form-group">
                        <label>Операционная&nbsp;система</label>
                        <v-select :items="selectOs"
                                  v-model="selectOsValue"
                                  return-object
                                  input-vilue="value"
                                  input-text="text"
                                  offset-y
                                  nudge-top="-5"
                                  class="label-output">
                        </v-select>
                      </div>
                  
                      <div>
                        <label>CPU</label>
                        <div class="slider-form-group without-label">
                          <input  v-model="computedCPU" type="text" class="form-control" disabled>
                          <v-slider v-model="sliderCPUValue" max="9" @input="changeCPU"></v-slider>
                        </div>
                      </div>
                  
                      <div>
                        <label>ОЗУ</label>
                        <div class="slider-form-group without-label">
                          <input  v-model="computedRAM" type="text" class="form-control" disabled>
                          <v-slider v-model="sliderRAMValue" max="13" :min="minRamSize" @input="changeRAM"></v-slider>
                        </div>
                      </div>
                  
                      <div>
                        <label>Размер&nbsp;основного&nbsp;SSD-диска</label>
                        <div class="slider-form-group without-label">
                          <input  v-model="computedBootDisk" type="text" class="form-control" disabled>
                          <v-slider v-model="sliderBootDiskValue" :min="minBootDiskSize" max="7"></v-slider>
                        </div>
                      </div>
  
                      <div class="boodet-total-price-button m2t-40 m2b-20">
                        <button class="boodet-btn" @click="buyProduct">
                          Купить за {{Math.floor(totalPrice).toLocaleString('ru-RU')}}&nbsp;&#8381;
                        </button>
                      </div>
                
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="video-section">
        <div class="container">
          <div class="section-count">01.</div>
          <h3 class="section-title text-center m2b_44">
            Сколько вы
            <span class="boodet-bg-text">&nbsp;теряете каждый день&nbsp;</span>
            <div class="mobile-bg-text-container">
              <div class="mobile-bg-text">&nbsp;теряете&nbsp;</div>
              <div class="mobile-bg-text">&nbsp;каждый день&nbsp;</div>
            </div>
            <div class="mobile-xs-bg-text-container">
              <div class="mobile-bg-text">&nbsp;теряете&nbsp;</div>
              <div class="mobile-bg-text">&nbsp;каждый&nbsp;</div>
              <div class="mobile-bg-text">&nbsp;день&nbsp;</div>
            </div>
            без&nbsp;boodet.<br class="show-mobile">online?
          </h3>
      
          <div id="youtube-video-container">
            <div id="video-container-cover"></div>
            <div class="play-video-button-circle">
              <img src="./images/play_triangle.svg" alt="play button">
            </div>
            <iframe
              width="1170px"
              height="658px"
              src="https://www.youtube.com/embed/zYMdEidHpms"
              frameborder="0"
              allow="autoplay; encrypted-media"
              allowfullscreen>
            </iframe>
          </div>
        </div>
  
      </div>
  
      <div id="why-we">
        <div class="container">
          <div class="section-count">02.</div>
          <h2 class="section-title m2b-60">Почему мы</h2>
          <div class="advantages-row">
            <div class="advantage-item">
              <div class="icon">
                <img src="images/1.svg">
              </div>
              <div class="title">
                от&nbsp;99 руб/месяц за&nbsp;сервер
              </div>
              <div class="description">
                Виртуальные мощности по&nbsp;карману каждому. Удобная почасовая оплата, быстрое масштабирование.
              </div>
            </div>
            <div class="advantage-item">
              <div class="icon">
                <img src="images/2.svg">
              </div>
              <div class="title">
                не просто надежность
              </div>
              <div class="description">
                Ваши данные под&nbsp;защитой и&nbsp;хранятся в&nbsp;дата-центрах современного уровня, SLA&nbsp;99,95%.
              </div>
            </div>
            <div class="advantage-item">
              <div class="icon">
                <img src="images/3.svg">
              </div>
              <div class="title">
                используем только&nbsp;SSD
              </div>
              <div class="description">
                Современные технологии для беспрецедентной скорости и&nbsp;комфорта на&nbsp;всех виртуальных машинах.
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="cases">
        <div class="container">
          <div class="section-count">03.</div>
          <h2 class="section-title">Кейсы</h2>
          <div class="text-center cases-description">
            Наши клиенты рассказывают, как Boodet.online помогает их&nbsp;бизнесу.
          </div>
          <div class="cases-slider-container">
            <div class="slider-button left disabled">
              <svg width="29" height="52" viewBox="0 0 29 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27 2L3 26L27 50" stroke="#2D4FDD" stroke-width="4" stroke-linecap="round"/>
              </svg>
            </div>
            <div class="slider-button right">
              <svg width="29" height="52" viewBox="0 0 29 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 50L26 26L2 2" stroke="#2D4FDD" stroke-width="4" stroke-linecap="round"/>
              </svg>
            </div>
            <img class="quote-img" width="38" src="images/quote.svg">
            
            <div class="carousel-overflow">
              <div class="carousel-container">
                <div class="cases-slider-item active" data-id="0">
                  <div class="case-comment">
                    Мы отказались от&nbsp;услуг штатного системного администратора, который раньше обслуживал наши физические серверы.
                  </div>
                  <div class="description-text m2b_4">
                    FORapp — cервис для&nbsp;удобной работы с&nbsp;мобильным персоналом.
                  </div>
                </div>
    
                <div class="cases-slider-item" data-id="1">
                  <div class="case-comment">
                    В Boodet.online очень понравилась возможность запустить консоль прямо из браузера,
                    задать вопрос в&nbsp;чате, при этом отвечают довольно быстро, и&nbsp;ответы приходят на&nbsp;почту,
                    если не&nbsp;дождался в&nbsp;окне.
                  </div>
                  <div class="description-text m2b_4">
                    Дмитрий, разработчик компании T-Systems Rus.
                  </div>
                </div>
    
                <div class="cases-slider-item" data-id="2">
                  <div class="case-comment">
                    В Boodet.online все просто, лаконично, функционально и&nbsp;интуитивно понятно.
                    В&nbsp;общем, пока проблем нет никаких. Все отлично.
                  </div>
                  <div class="description-text m2b_4">
                    Шалва Епхошвили, владелец Dpartphoto.
                  </div>
                </div>
    
                <div class="cases-slider-item" data-id="3">
                  <div class="case-comment">
                    Когда запустил в&nbsp;первый раз - радовался как&nbsp;ребенок. Красиво, шустро работает, поддержка отвечает.
                    Удобно и&nbsp;быстро меняются параметры тарифа.
                  </div>
                  <div class="description-text m2b_4">
                    Егор, разработчик в&nbsp;ИП Воронкин&nbsp;Е.Ю.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="security">
        <div class="container">
          <div class="section-count">04.</div>
          <h2 class="section-title m2b-30">Заботимся о&nbsp;безопасности облака сразу в&nbsp;трех аспектах</h2>
          <div class="security-row">
            <div class="security-item">
              <img src="images/key.svg">
              <div class="description">
                Двухфакторная авторизация и доступ по SHH-ключу обеспечивают безопасность вашего аккаунта
                в личном кабинете. Двухфакторная авторизация и доступ по SHH-ключу обеспечивают безопасность
                вашего аккаунта в личном кабинете.
              </div>
            </div>
  
            <div class="security-item">
              <img src="images/sertificate.svg">
              <div class="description">
                Компоненты облачной платформы, отвечающие за хранение данных и за контроль доступа
                к пользовательским ресурсам, проверены на наличие уязвимостей компанией BI.ZONE,
                лидером российского рынка информационной безопасности.
              </div>
            </div>
  
            <div class="security-item">
              <img src="images/clouds.svg">
              <div class="description">
                Данные можно разместить в двух дата-центрах и реализовать надежную систему отказоустойчивости:
                если в экстренных ситуациях серверы одного дата-центра недоступны, вы все равно останетесь онлайн
                и сможете использовать ресурсы второго ЦОДа.
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="test" class="section dark-bg">
        <div class="container">
          <h2 class="section-title m2b-44">Виртуализируй бизнес и&nbsp;обойди конкурентов уже&nbsp;завтра</h2>
          <div class="section-description m2b-32">
            Мы знаем, какие технические, финансовые и юридические проблемы бывают у&nbsp;стартапов
            и&nbsp;действующего технологическиого бизнеса в&nbsp;России. Пройдите тест и&nbsp;получите консультацию
            наших системных инженеров и&nbsp;аналитиков, которые сделают ваш&nbsp;бизнес прибыльнее и&nbsp;стабильнее.
          </div>
          <div class="text-center">
            <button class="boodet-btn width-170" @click.stop="testDialog = true">Пройти тест</button>
          </div>
        </div>
      </div>
  
      <div id="support">
        <div class="container">
          <div class="section-count">05.</div>
          <h2 class="section-title m2b-44">Быстрая, вежливая техподдержка</h2>
          <div class="section-description m2b-44">
            Мы на связи в&nbsp;удобном чате и&nbsp;готовы разобраться с&nbsp;любой возникшей ситуацией.
          </div>
          <div class="support-images">
            <img class="support-main-image" src="images/support_image.png" alt="Поддержка">
            <img class="chat-image" src="images/support_chat.png" alt="Чат поддержки">
          </div>
        </div>
      </div>
  
      <div id="more-with-us">
        <div class="container">
          <div class="section-count">06.</div>
          <h2 class="section-title m2b-32">С нами вы можете больше!</h2>
          <div class="divider-2 m2b-24 m2t-24"></div>
          <ul class="more-list">
            <li>Экономить на&nbsp;покупке собственного оборудования.</li>
            <li>Мгновенно увеличивать/уменьшать мощности при&nbsp;необходимости.</li>
            <li>Дата-центры с&nbsp;уровнем надежности Tier&nbsp;III.</li>
          </ul>
          <div class="divider-2 m2b-24 m2t-24"></div>
          <ul class="more-list">
            <li>Полный root-доступ (SSH). </li>
            <li>Гибкая настройка.</li>
            <li>Только SSD-диски.</li>
          </ul>
          <div class="divider-2 m2b-24 m2t-24"></div>
          <ul class="more-list">
            <li>Создавать частные сетей с&nbsp;настройкой маршрутизации. </li>
            <li>Компенсация простоев. </li>
            <li>Безлимитный трафик 1Гбит/с.</li>
          </ul>
          <div class="divider-2 m2b-24 m2t-24"></div>
          <ul class="more-list">
            <li>100% гарантированные ресурсы.</li>
            <li>Отказоустойчивые серверы.</li>
            <li>Бонусы за&nbsp;честные отзывы и&nbsp;не&nbsp;только.</li>
          </ul>
          <div class="divider-2 m2b-24 m2t-24"></div>
        </div>
      </div>
  
      <div id="compatibility">
        <div class="container">
          <div class="section-count">07.</div>
          <h3 class="section-title text-center m2b_44">Мы подходим друг&nbsp;другу, если&nbsp;вы</h3>
          <div class="more-cases-row">
            <div class="more-case">
              <div class="title-row">
                <img src="./images/laptop-phone.svg">
                <div class="title">Тестируйте программные продукты или&nbsp;готовьте MVP</div>
              </div>
              <div class="description-text description">С нами выходить на&nbsp;рынок можно на&nbsp;50% быстрее конкурентов.</div>
            </div>
            <div class="more-case">
              <div class="title-row">
                <img src="./images/dashboard.svg">
                <div class="title">Хостите веб-проекты с&nbsp;любой нагрузкой</div>
              </div>
              <div class="description-text description">Меняйте мощность ресурсов за&nbsp;две минуты, подстраиваясь под&nbsp;динамическую нагрузку на&nbsp;ваш ресурс.</div>
            </div>
            <div class="more-case">
              <div class="title-row">
                <img src="./images/database.svg">
                <div class="title">Храните данные</div>
              </div>
              <div class="description-text description">Три вида SSD-дисков под&nbsp;двсе популярные задачи.</div>
            </div>
            <div class="more-case">
              <div class="title-row">
                <img src="./images/website.svg">
                <div class="title">Нуждаетесь в&nbsp;дсобственном виртуальном дата-центре</div>
              </div>
              <div class="description-text description">Публичные и&nbsp;дприватные сетевые сегменты, настраиваемая маршрутизация.</div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="options">
        <div class="container">
          <div class="section-count">08.</div>
          <h2 class="section-title m2b-60">Дополнительные опции</h2>
          <div class="advantages-row">
            <div class="advantage-item">
              <div class="icon">
                <img src="images/4.svg">
              </div>
              <div class="title">
                Индивидуальный IP&#8209;адрес
              </div>
              <div class="description">
                Статический IP дает множество преимуществ вашему сайту или веб&#8209;продукту.
              </div>
            </div>
            <div class="advantage-item">
              <div class="icon">
                <img src="images/5.svg">
              </div>
              <div class="title">
                Резервное копирование
              </div>
              <div class="description">
                Пакеты мгновенных снимков системы, чтобы&nbsp;восстановить все данные за&nbsp;считанные минуты.
              </div>
            </div>
            <div class="advantage-item">
              <div class="icon">
                <img src="images/6.svg">
              </div>
              <div class="title">
                Дополнительные диски
              </div>
              <div class="description">
                Стандартные, для&nbsp;высокой производительности или для&nbsp;архивного хранения — вам доступно оборудование под&nbsp;любые задачи.
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="contest-section" class="section dark-bg">
        <div class="container">
          <h2 class="section-title m2b-44">Объединяем инноваторов со&nbsp;всей России</h2>
          <div class="section-description m2b-32">
            Мы с&nbsp;вами одной крови! Boodet.online старается поддерживать отечественное IT-сообщество
            и&nbsp;спонсировать проекты, в&nbsp;которых мы видим большую социальную или&nbsp;культурную значимость.
            Уже сейчас вы можете рассказать о&nbsp;своем уникальном проекте до&nbsp;2&nbsp;октября и&nbsp;участвовать
            в&nbsp;конкурсе за&nbsp;бесплатные ресурсы на&nbsp;ГОД!
          </div>
          <div class="text-center">
            <a class="boodet-btn width-170" href="/contest">Подробнее</a>
          </div>
        </div>
      </div>
  
      <div id="prices">
        <div id="price-configurator-with-select-period">
          <div class="price-section">
              <div class="container">
                <div class="section-count">09.</div>
                <h2 class="section-title text-xs-center">Экономьте с нами!</h2>
                <div class="payment-type-row">
                  <div class="payment-type-item"
                       :class="{'active': paymentMonthCount == 0}"
                       @click="setPaymentMonthCount('0')">
                    <div class="payment-title">
                      Почасовая оплата
                    </div>
                    <div class="description">Без скидок</div>
                  </div>
              
                  <div class="payment-type-item"
                       :class="{'active': paymentMonthCount == 3}"
                       @click="setPaymentMonthCount('3')">
                    <div class="payment-title">
                      Оплата за 3 месяца
                    </div>
                    <div class="description success-font-color semi-bold">Выгоднее на 10%</div>
                  </div>
              
                  <div class="payment-type-item"
                       :class="{'active': paymentMonthCount == 6}"
                       @click="setPaymentMonthCount('6')">
                    <div class="payment-title">
                      Оплата за 6 месяцев
                    </div>
                    <div class="description success-font-color semi-bold">Выгоднее на 15%</div>
                  </div>
              
                  <div class="payment-type-item"
                       :class="{'active': paymentMonthCount == 12}"
                       @click="setPaymentMonthCount('12')">
                    <div class="payment-title">
                      Оплата за 12 месяцев
                    </div>
                    <div class="description success-font-color semi-bold">Выгоднее на 20%</div>
                  </div>
                </div>
            
                <div class="boodet-price-configurator">
                  <div class="price-configurator-row">
                    <div class="form-group">
                      <label>Операционная&nbsp;система</label>
                      <v-select :items="selectOs"
                                v-model="selectOsValue"
                                return-object
                                input-vilue="value"
                                input-text="text"
                                offset-y
                                nudge-top="-5"
                                class="label-output">
                      </v-select>
                    </div>
                
                    <div>
                      <label>CPU</label>
                      <div class="slider-form-group without-label">
                        <input  v-model="computedCPU" type="text" class="form-control" disabled>
                        <v-slider v-model="sliderCPUValue" max="9" @input="changeCPU"></v-slider>
                      </div>
                    </div>
                
                    <div>
                      <label>ОЗУ</label>
                      <div class="slider-form-group without-label">
                        <input  v-model="computedRAM" type="text" class="form-control" disabled>
                        <v-slider v-model="sliderRAMValue" max="13" :min="minRamSize" @input="changeRAM"></v-slider>
                      </div>
                    </div>
                
                    <div>
                      <label>Размер&nbsp;основного&nbsp;SSD-диска</label>
                      <div class="slider-form-group without-label">
                        <input  v-model="computedBootDisk" type="text" class="form-control" disabled>
                        <v-slider v-model="sliderBootDiskValue" :min="minBootDiskSize" max="7"></v-slider>
                      </div>
                    </div>
                
                    <div class="form-group select-payment-type">
                      <label>Оплата</label>
                      <v-combobox :items="selectPaymentType"
                                  v-model="selectPaymentMonthCount"
                                  class="label-output relative-top">
                      </v-combobox>
                    </div>
  
                    <div class="boodet-total-price-button m2t-40 m2b-20">
                      <button class="boodet-btn" @click="buyProduct">
                        Купить за {{purchaseTotalPrice}}&nbsp;&#8381;
                      </button>
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
        </div>
      </div>
  
      <v-dialog class="xl-padding" v-model="testDialog" max-width="770px" persistent>
        <div class="close-btn"
             @click.stop="testDialog = !testDialog">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 5L19 19" stroke="#FF3301" stroke-width="2"/>
            <path d="M19 5L5 19" stroke="#FF3301" stroke-width="2"/>
          </svg>
        </div>
    
        <div class="m2b-20">
          <img src="images/logo_rgb.svg">
        </div>
        <div class="m2b-34 font-weight-normal">
          Несколько вопросов, которые помогут нам подобрать для&nbsp;вас лучшее решение по&nbsp;цене и&nbsp;функциональности.
        </div>
  
        <v-form v-model="testForm" ref="testForm" class="new-design-form" @submit.prevent>
          <div class="row">
            <div class="col-lg-6">
              <v-select class="m2t-56 mmr-3 two-line-label"
                              :items="selectTarget"
                              v-model="selectTargetValue"
                              label="Для чего планируете использовать виртуальную инфраструктуру?"
                              placeholder="Например хостинг веб-сайта"
                              nudge-top="-49"
                              :rules="requireMultipleSelectRules"
                              multiple>
              </v-select>
            </div>
            <div class="col-lg-6">
              <v-select class="m2t-56 mmr-3 two-line-label"
                              :items="selectOS"
                              v-model="selectTestOSValue"
                              label="Какая операционная система нужна для работы?"
                              placeholder="Windows или Linux"
                              :rules="requireRules"
                              nudge-top="-49">
              </v-select>
            </div>
          </div>
  
          <v-text-field v-if="isShowTextFiledForOwnVariant"
                        class="m2t-34"
                        v-model="ownVariant"
                        :rules="requireRules"
                        label="Свой вариант использования виртуальной инфраструктуры"
          ></v-text-field>
  
          <div class="row">
            <div class="col-lg-6">
              <div class="label">
                Будете ли вы объединять виртуальные серверы в частную сеть?
              </div>
              <v-radio-group v-model="isPrivateNetwork" row>
                <v-radio label="Да" value="Да"></v-radio>
                <v-radio label="Нет" value="Нет"></v-radio>
                <v-radio label="Не уверен" value="Не уверен"></v-radio>
              </v-radio-group>
            </div>
            <div class="col-lg-6">
              <v-text-field class="m2t-56 two-line-label"
                            v-model="ipCount"
                            label="Сколько ip-адресов вам может понадобиться?"
                            :rules="requireRules"
                            placeholder="Хотя бы примерно"
              ></v-text-field>
            </div>
          </div>
          
          <div class="label m2b-10">
            Укажите минимальные требования по конфигурации серверов, если это известно
          </div>
          <div class="test-configurator m2b-32">
            <div class="price-configurator-row">
              <div>
                <label>CPU</label>
                <div class="slider-form-group without-label">
                  <input  v-model="computedCPU" type="text" class="form-control" disabled>
                  <v-slider v-model="sliderCPUValue" max="9" @input="changeCPU"></v-slider>
                </div>
              </div>
    
              <div>
                <label>ОЗУ</label>
                <div class="slider-form-group without-label">
                  <input  v-model="computedRAM" type="text" class="form-control" disabled>
                  <v-slider v-model="sliderRAMValue" max="13" :min="minRamSize" @input="changeRAM"></v-slider>
                </div>
              </div>
    
              <div>
                <label>SSD</label>
                <div class="slider-form-group without-label">
                  <input  v-model="computedBootDisk" type="text" class="form-control" disabled>
                  <v-slider v-model="sliderBootDiskValue" :min="minBootDiskSize" max="7"></v-slider>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <v-text-field class="m2t-32"
                            v-model="email"
                            label="E-mail"
                            :rules="emailRules"
              ></v-text-field>
            </div>
            <div class="col-lg-6">
              <v-text-field class="m2t-32"
                            v-model="phone"
                            label="Телефон для связи"
              ></v-text-field>
            </div>
          </div>
  
          <v-layout class="m2t-14" wrap>
            <v-flex grow>
              <v-checkbox v-model="agreement"
                          class="m2b-22"
                          label="Согласен на обработку моих персональных данных">
                
              </v-checkbox>
            </v-flex>
            <v-flex shrink class="test-form-btn">
              <button  class="boodet-btn width-180 mobile-full-width font-weight-normal"
                       @click="sendTestForm">
                Отправить
              </button>
            </v-flex>
          </v-layout>
          
        </v-form>
        
        
        <!--<div class="width-100 mmt-3 text-xs-center" v-if="createTicketPreloader">
          <img width=45px height=45px src="~assets/images/preloader.svg">
        </div>-->
  
      </v-dialog>
  
      <div class="modal fade" id="successModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="close-btn" data-dismiss="modal">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 5L19 19" stroke="#FF3301" stroke-width="2"/>
                <path d="M19 5L5 19" stroke="#FF3301" stroke-width="2"/>
              </svg>
            </div>
            <h3>Готово</h3>
            <div class="m2b_28 text-center">
              Мы обязательно свяжемся с Вами.
            </div>
        
            <div class="text-center">
              <a href="/index" class="boodet-btn width-280">На главную</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="close-btn" data-dismiss="modal">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 5L19 19" stroke="#FF3301" stroke-width="2"/>
                <path d="M19 5L5 19" stroke="#FF3301" stroke-width="2"/>
              </svg>
            </div>
            <h3>Ошибка!</h3>
            <div class="m2b_28 text-center">
              Не удалось отправить вашу заявку. Попробуйте снова или обратитесь в техподдержку.
            </div>
          </div>
        </div>
      </div>
  
      <div class="modal fade" id="emailHasModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="close-btn" data-dismiss="modal">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 5L19 19" stroke="#FF3301" stroke-width="2"/>
                <path d="M19 5L5 19" stroke="#FF3301" stroke-width="2"/>
              </svg>
            </div>
            <h3>Ошибка!</h3>
            <div class="m2b_28 text-center">
              На данный E-mail заявка уже зарегистрирована.
            </div>
          </div>
        </div>
      </div>
    </v-app>
  </div>
</div>
  
  
  <script>
    Vue.use(Vuetify);
    let vdcLocation =  {
      '19': 'Москва МР4',
      '1': 'Москва Б17',
      '2': 'Москва ДС1'
    }

    const ProductPrices = {
      currency: 'rub',
      VCPU: {
        month: 357.12,
        hour: 0.496
      },
      VMemory: {
        month: 126.72,
        hour: 0.176
      },
      BootDisk: {
        month: 5.04,
        hour: 0.007
      },
      TypicalDisk: {
        month: 5.04,
        hour: 0.007
      },
      IndividualDisk: {
        month: {
          gb: 5.04,
          iops: 2.52
        },
        hour: {
          gb: 0.007,
          iops: 0.0035
        }
      },
      ArchiveDisk: {
        month: 1.4112,
        hour: 0.00196
      },
      OSWindows: {
        month: 350,
        hour: 0.48611111111
      },
      ExternalIp: {
        month: 90,
        hour: 0.125
      },
      SnapshotPack: 0.2,

    };

    const RamCpuDiscounts = [
      { cpu: 1, ram: 0.5, percent: 0.94863 },
      { cpu: 1, ram: 1, percent: 0.260912 },
      { cpu: 1, ram: 2, percent: 0.217767 },
      { cpu: 1, ram: 4, percent: 0.160185 },
      { cpu: 1, ram: 8, percent: 0.108893 },
      { cpu: 2, ram: 1, percent: 0.517694 },
      { cpu: 2, ram: 2, percent: 0.448578 },
      { cpu: 2, ram: 4, percent: 0.359931 },
      { cpu: 2, ram: 8, percent: 0.265277 },
      { cpu: 4, ram: 1, percent: 0.672325 },
      { cpu: 4, ram: 2, percent: 0.620909 },
      { cpu: 4, ram: 4, percent: 0.54241 },
      { cpu: 4, ram: 8, percent: 0.437565 },
      { cpu: 4, ram: 16, percent: 0.317824 },
      { cpu: 6, ram: 12, percent: 0.461259 },
      { cpu: 6, ram: 18, percent: 0.385669 },
      { cpu: 8, ram: 16, percent: 0.473106 },
    ];

    function _findDiscountItem(cpu, ram) {
      return RamCpuDiscounts.find((item) => {
        return item.cpu === cpu && item.ram === ram;
      });
    }

    function calcMonthPrice(cpu, ram) {
      const discountItem = _findDiscountItem(cpu, ram);
      let resultCpuPrice = ProductPrices.VCPU.month * cpu;
      let resultRamPrice = ProductPrices.VMemory.month * ram;
      if (discountItem) {
        const discountPercent = discountItem.percent;
        resultCpuPrice = resultCpuPrice - resultCpuPrice * discountPercent;
        resultRamPrice = resultRamPrice - resultRamPrice * discountPercent;
      }

      return resultRamPrice + resultCpuPrice;
    }

    function require(v) {
      return !!v || "Это поле обязательно для заполнения";
    }

    function requireMultipleSelect(v) {
      return v.length > 0 || "Это поле обязательно для заполнения";
    }

    function testEmail(v) {
      return /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,20})+$/.test(v) || "Введите корректный E-mail";
    }

    function testPhone(v) {
      return /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){11}(\s*)?$/.test(v) || "Введите телефон";
    }

    new Vue({
      el: '#vue-app',
      data () {
        return {
          selectOs: [
            {
              text: "Linux",
              value: 'linux'
            },
            {
              text: "Windows",
              value: 'windows'
            }
          ],
          selectPaymentType: [
            {
              text: "Почасовая",
              value: '0'
            },
            {
              text: "Оплата за 3 месяца",
              value: '3'
            },
            {
              text: "Оплата за 6 месяцев",
              value: '6'
            },
            {
              text: "Оплата за 12 месяцев",
              value: '12'
            },
          ],
          selectOsValue: {text: "Linux", value: 'linux'},
          selectTestOSValue: "linux",
          selectVdcLocation: [
            {
              text: vdcLocation[19],
              value: '19'
            },
            {
              text: vdcLocation[1],
              value: '1'
            },
            {
              text: vdcLocation[2],
              value: '2'
            }
          ],
          selectVdcLocationValue: '19',
          cpuArray: [1, 2, 4, 6, 8, 12, 16, 24, 32, 48],
          ramArray: [512, 1, 2, 4, 8, 12, 16, 24, 32, 48, 64, 96, 128, 224],
          bootDiskArray: [10, 20, 60, 100, 250, 500, 1000, 2000],
          sliderCPUValue: 0,
          sliderRAMValue: 0,
          sliderBootDiskValue: 0,
          externalIpValue: false,
          paymentMonthCount: '12',
          selectPaymentMonthCount: {
            text: "Оплата за 12 месяцев",
            value: '12'
          },

          testDialog: false,
          testForm: false,

          selectTargetValue: [],
          selectTarget: [
            {value: 'Хостинг веб-сайта', text: 'Хостинг веб-сайта'},
            {value: 'Среда для разработки или тестирования ПО', text: 'Среда для разработки или тестирования ПО'},
            {value: 'Сервер для 1С', text: 'Сервер для 1С'},
            {value: 'Сервер для Forex', text: 'Сервер для Forex'},
            {value: 'Удаленный рабочий стол', text: 'Удаленный рабочий стол'},
            {value: 'Почтовый сервер', text: 'Почтовый сервер'},
            {value: 'Хранение файлов и бэкапов', text: 'Хранение файлов и бэкапов'},
            {value: 'VPN-сервер', text: 'VPN-сервер'},
            {value: 'Игровой сервер', text: 'Игровой сервер'},
            {value: 'Прокси-сервер', text: 'Прокси-сервер'},
            {value: 'IP-телефония', text: 'IP-телефония'},
            {value: 'Сервер для видеонаблюдения', text: 'Сервер для видеонаблюдения'},
            {value: 'Сервер для интернета вещей', text: 'Сервер для интернета вещей'},
            {value: 'Свой вариант', text: 'Свой вариант'},
          ],
          selectOS: [
            {value: 'Windows', text: 'Windows'},
            {value: 'Linux', text: 'Linux'},
          ],

          ownVariant: '',
          ipCount: '',
          isPrivateNetwork: 'Да',
          phone: '',
          email: '',
          agreement: true,
          requireRules: [
            require
          ],
          requireMultipleSelectRules: [
            requireMultipleSelect
          ],
          emailRules: [
            require,
            testEmail
          ],
          phoneRules: [
            require,
            testEmail
          ]
          
        }

      },

      computed: {
        
        isShowTextFiledForOwnVariant() {
          let result = false

          this.selectTargetValue.forEach((item) => {
            if (item === 'Свой вариант') {
              result = true
            }
          })
          
          return result
        },

        computedCPU: function() {
          return this.cpuArray[this.sliderCPUValue];
        },
        computedRAM: function() {
          if (this.sliderRAMValue === 0 ) {
            return this.ramArray[this.sliderRAMValue] + ' MB';
          } else {
            return this.ramArray[this.sliderRAMValue] + ' GB';
          }
        },
        computedBootDisk: function() {
          return this.bootDiskArray[this.sliderBootDiskValue] + ' GB';
        },
        computedBandwidth: function() {
          return this.bandwidthArray[this.sliderBandwidthValue] + ' Мбит/с';
        },

        isConfigBackup: function() {
          let result = false;

          for (let key in this.backup) {
            if (this.backup[key]) {
              result = true;
            }
          }

          return result;
        },

        minBootDiskSize: function() {
          if (this.selectOsValue.value === 'windows') {
            return 2;
          } else {
            return 0;
          }
        },

        minRamSize: function() {
          if (this.selectOsValue.text && this.selectOsValue.text.indexOf('Windows') !== -1) {
            return 1;
          } else {
            return 0;
          }
        },

        portalUrl: function() {
          const host = 'http://my.boodet.online/registration';

          let url = host + '?vcpus=' + this.cpuArray[this.sliderCPUValue];
          url += '&memory=' + this.ramArray[this.sliderRAMValue];
          url += '&bootDiskSize=' + this.bootDiskArray[this.sliderBootDiskValue];
          url += '&os=' + this.selectOsValue.value;

          return url;

        },

        totalPrice: function () {

          let price = 0;

          price = this.bootDiskArray[this.sliderBootDiskValue] * ProductPrices.BootDisk.month;
          const targetRam = this.sliderRAMValue === 0 ? 0.5 : this.ramArray[this.sliderRAMValue];
          price += calcMonthPrice(
            this.cpuArray[this.sliderCPUValue],
            targetRam
          );

          // if (this.sliderBandwidthValue) {
          //   price += (this.bandwidthArray[this.sliderBandwidthValue] - 10) * 7.5;
          // }

          if (this.selectOsValue.value === 'windows') {
            if (this.cpuArray[this.sliderCPUValue] <= 8) {
              price += ProductPrices.OSWindows.month;
            } else {
              price += ProductPrices.OSWindows.month + Math.round((this.cpuArray[this.sliderCPUValue] - 8)/2)*350;
            }

          }

          return price;
        },

        purchaseTotalPrice: function () {

          let price = 0;

          price = this.bootDiskArray[this.sliderBootDiskValue] * ProductPrices.BootDisk.month;
          const targetRam = this.sliderRAMValue === 0 ? 0.5 : this.ramArray[this.sliderRAMValue];
          price += calcMonthPrice(
            this.cpuArray[this.sliderCPUValue],
            targetRam
          );

          // if (this.sliderBandwidthValue) {
          //   price += (this.bandwidthArray[this.sliderBandwidthValue] - 10) * 7.5;
          // }

          if (this.selectOsValue.value === 'windows') {
            if (this.cpuArray[this.sliderCPUValue] <= 8) {
              price += ProductPrices.OSWindows.month;
            } else {
              price += ProductPrices.OSWindows.month + Math.round((this.cpuArray[this.sliderCPUValue] - 8)/2)*350;
            }

          }

          switch (this.paymentMonthCount) {
            case '3':
              price = price * 0.9;
              break;
            case '6':
              price = price * 0.85;
              break;
            case '12':
              price = price * 0.8;
              break;
          }

          return Math.floor(price).toLocaleString('ru-RU');
        }
      },

      watch: {
        selectPaymentMonthCount(value) {
          this.paymentMonthCount = value.value
        }
      },

      methods: {
        
        sendTestForm() {
          if (this.$refs.testForm.validate()) {
            let requestData = {
              notifications_request: {
                key_name: 'selection_help',
                provided_data: {
                  tasks: this.selectTargetValue.toString(),
                  task: this.ownVariant,
                  os: this.selectTestOSValue,
                  network: this.isPrivateNetwork,
                  ip: this.ipCount,
                  cpu: this.computedCPU,
                  ram: this.computedRAM,
                  hdd: this.computedBootDisk,
                  agreement: this.agreement
                }
              }
            }

            if (this.email) {
              requestData.notifications_request.emails = [this.email]
            } else if (this.phone) {
              requestData.notifications_request.phones = [this.phone]
            }


            $.ajax({
              type: 'POST',
              contentType: 'application/json',
              url: 'http://staging.decs.online/api/notifications/v1/notifications_requests',
              data: JSON.stringify(requestData),
              success: function(data){
                this.testDialog = false
                $('#successModal').modal('show')
              }.bind(this),
              error: function(error) {
                this.testDialog = false
                if (error && error.responseJSON && error.responseJSON.errors
                  && error.responseJSON.errors.uuid[0] === 'has already been taken') {
                  $('#emailHasModal').modal('show')
                } else {
                  $('#errorModal').modal('show')
                }
              }.bind(this)
            });
          }
          
        },
        
        buyProduct() {
          window.location = 'https://my.boodet.online/login'
        },
        clearForm() {
          this.selectTargetValue = []
          this.ownVariant = ''
          this.ipCount = ''
          this.isPrivateNetwork = 'Да'
          this.phone = ''
          this.email = ''
          this.agreement = true
          this.sliderCPUValue = 0
          this.sliderRAMValue = 0
          this.sliderBootDiskValue = 0
        },
        changeCPU: function () {
          if (this.sliderCPUValue === 0) {
            if (this.sliderRAMValue !== 0) {
              this.sliderRAMValue = 0;
            }
          } else if (this.sliderCPUValue > 0 && this.sliderCPUValue <= 2) {
            if (this.sliderRAMValue < 1  || this.sliderRAMValue > 4) {
              this.sliderRAMValue = 1;
            }
          } else if (this.sliderCPUValue > 2 && this.sliderCPUValue <= 38) {
            if (this.ramArray[this.sliderRAMValue] !== this.cpuArray[this.sliderCPUValue]*2) {
              this.sliderRAMValue = this.ramArray.indexOf(this.cpuArray[this.sliderCPUValue]*2)
            }
          } else if (this.sliderCPUValue > 8) {
            if (this.sliderRAMValue < 11) {
              this.sliderRAMValue = 11;
            }
          }
        },

        changeRAM: function () {
          if (this.sliderRAMValue === 0) {
            if (this.sliderCPUValue !== 0) {
              this.sliderCPUValue = 0;
            }
          } else if (this.sliderRAMValue <= 4) {
            if (this.sliderCPUValue > 2) {
              this.sliderCPUValue = 1;
            }
          } else if (this.sliderRAMValue > 4 && this.sliderRAMValue <= 10) {
            if (this.cpuArray[this.sliderCPUValue] !== this.ramArray[this.sliderRAMValue]/2) {
              this.sliderCPUValue = this.cpuArray.indexOf(this.ramArray[this.sliderRAMValue]/2)
            }
          } else if (this.sliderRAMValue > 10) {
            if (this.sliderCPUValue < 9) {
              this.sliderCPUValue = 9;
            }
          }
        },

        addDisk: function() {
          let newDisk = {
            key: this.additionalDiskCount,
            id: this.additionalDiskCount,
            type: 'standart',
            diskSize: 10,
            diskSpeed: 1000
          };

          this.additionalDisks.push(newDisk);
          this.additionalDiskCount++;
        },

        removeDisk: function(diskId) {
          let newArray = _.filter(this.additionalDisks, function(disk) {
            return disk.id !== diskId;
          });

          this.additionalDisks = newArray;
        },

        changeAdditionalDiskSize: function(index, value) {
          let diskIndex = _.findIndex(this.additionalDisks, function(disk) {
            return disk.id === index;
          });

          this.additionalDisks[diskIndex].diskSize = value;
        },

        changeAdditionalDiskSpeed: function(index, value) {
          let diskIndex = _.findIndex(this.additionalDisks, function(disk) {
            return disk.id === index;
          });

          this.additionalDisks[diskIndex].diskSpeed = value;
        },

        changeAdditionalDiskType: function(index, value) {
          let diskIndex = _.findIndex(this.additionalDisks, function(disk) {
            return disk.id === index;
          });

          this.additionalDisks[diskIndex].type = value;
        },

        setPaymentMonthCount(count) {
          this.paymentMonthCount = count
        },

      },


    })
  </script>

<footer class="gray-bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="block-title">Продукты</div>
        <div class="m2b_8"><a href="#">Виртуальные серверы</a></div>
        <div class="m2b_8"><a href="#">Хранилище</a></div>
        <div class="m2b_8"><a href="#">Цены</a></div>
        <div class="m2b_8"><a href="#">Документация</a></div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="block-title">Компания</div>
        <div class="m2b_8"><a href="#">Балловая система</a></div>
        <div class="m2b_8"><a href="#">Юридическая информация</a></div>
      </div>
      <div class="col-sm-12 col-lg-3 offset-lg-3">
        <div class="block-title">Сообщество</div>
        <div class="m2b_8"><a href="#">Блог о стартапах</a></div>
        <div class="m2b_8"><a href="#">Facebook</a></div>
        <div class="m2b_8"><a href="#">Youtube</a></div>
      </div>
    </div>

    <div class="copyright">© Boodet.online, 2017–2019</div>
  </div>
</footer>


</body>
</html>