html body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 840px;
  margin: auto;
  padding: 15px;
}

.profile-container {
  display: flex;
  flex: 1;
  background-color: #f9e9bc;
  padding: 20px 30px;
}

.photo-block {
  background-color: #fff;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  align-self: flex-start;
}

.photo-block .name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text-block {
  background-color: #fff;
  padding: 10px;
}

.avatar {
  width: 240px;
}

.avatar img {
  width: 100%;
}

.division-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #7d7d7d;
}

.column-section {
  margin-bottom: 10px;
}

.column-sections {
  margin-bottom: 24px;
}

.section-title {
  font-weight: 600;
}

.row-section {
  display: flex;
  margin-bottom: 12px;
}

.row-section .section-title {
  min-width: 100px;
}

@media (max-width: 980px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 780px) {
  .container {
    padding: 0;
  }

  .profile-container {
    flex-wrap: wrap;
    padding: 15px;
  }

  .photo-block {
    margin-right: auto;
  }
}