<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149358597-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149358597-1');
  </script>
  
  <meta charset="UTF-8">
  <title>Boodet Online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@1.3.8/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  <script src="js/jquery-3.4.0.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@1.3.8/dist/vuetify.min.js"></script>
  <script src="js/scripts.js"></script>
</head>
<body>
<div id="preloader">
  <div id="progress-bar"></div>
  <img src="images/logo_gray.svg">
</div>
<header id="header" class="new-header white-bg">
  <div class="container">
    <div class="header-row">
      <div class="header-left-part">
        <div class="main-menu">
          <div class="menu-item">
            <div class="dropdown">
              <a class="select" href="#" role="button" id="dropdownProductsMenu"
                 data-toggle="dropdown">
                Продукты
              </a>
  
              <div class="dropdown-menu dropdown-menu-tip-nw" aria-labelledby="dropdownProductsMenu">
                <a class="dropdown-item" href="vps_vds_servers.html">Аренда VDS/VPS сервера</a>
                <a class="dropdown-item" href="cloud_storage.html">Облачное хранилище для вашего бизнеса</a>
                <a class="dropdown-item" href="windows_virtual_server.html">Аренда виртуального сервера на Windows</a>
                <a class="dropdown-item" href="iaas_2.html">Виртуальные инфраструктуры IaaS</a>
                <a class="dropdown-item" href="virtual_server.html">Аренда виртуального сервера</a>
                <a class="dropdown-item" href="1c.html">Аренда виртуального сервера для 1С</a>
                <a class="dropdown-item" href="ftp_storage.html">Аренда резервного хранилища на FTP</a>
                <a class="dropdown-item" href="forex_server.html">Аренда VPS сервера для Форекс</a>
                <a class="dropdown-item" href="152-f3.html">Облачное хранилище (152-ФЗ)</a>
              </div>
            </div>
          </div>
          <div class="menu-item"><a href="prices">Цены</a></div>
          <div class="menu-item"><a href="cases">Кейсы</a></div>
          <div class="menu-item"><a href="blog">Блог</a></div>
        </div>
        <div id="mobile-menu-btn">
          <img class="open" src="images/burger.svg">
          <img class="close" src="images/close.svg">
          <span>Меню</span>
        </div>
      </div>
      <a href="/">
        <div class="new-logo">
          <img class="white-logo" src="images/logo_white.svg">
          <img class="grad-logo" src="images/logo_grad.svg">
        </div>
        <div class="short-logo">
          <img class="white-logo" src="images/logo_white_short.svg">
          <img class="grad-logo" src="images/logo_grad_short.svg">
        </div>
      </a>
      <div class="header-right-part">
        <a class="desktop-link" href="https://my.boodet.online/login" target="_blank">Вход</a>
        <a class="desktop-link boodet-btn small m2l_40" href="https://my.boodet.online/login" target="_blank">Создать сервер</a>
        <a id="mobile-login-link" class="vector-link" href="https://my.boodet.online/login" target="_blank">
          <img src="images/vector_2.svg">
          <span>Войти</span>
        </a>
      </div>
    </div>
  </div>
  <div id="mobile-menu">
    <div class="item m2t_50">
      <a href="">Продукты</a>
    </div>
    <div class="sub-item">
      <a href="/cloud-power">Виртуальный сервер</a>
    </div>
    <div class="sub-item m2b_16">
      <a href="/cloud-store">Облачное хранилище</a>
    </div>
    <div class="item">
      <a href="/prices">Цены</a>
    </div>
    <div class="item">
      <a href="/cases">Кейсы</a>
    </div>
    <div class="item">
      <a href="/blog">Блог</a>
    </div>
    <div class="item">
      <a href="/documents">Документы и SLA</a>
    </div>
  </div>
</header>
<div id="content" class="new-design header-padding-top">
  <div id="vue-app">
    <v-app>
      <div class="section-new blue-gradient-bg">
        <div class="container">
          <div class="row">
            <div class="col-xl-9">
              <h1 class="title-1 m2b-44">
                Аренда VDS/VPS сервера
              </h1>
              <p class="m2b-44 max-width-670">
                Ваш персональный компьютер, который работает в облаке и доступен везде, где есть интернет.
                Его можно апгрейдить одним нажатием клавиши, а при необходимости снизить потребление
                ресурсов для экономии. Вы можете выбрать классический VPS/VDS сервер
                или создать свою сложную виртуальную инфраструктуру.
              </p>
              <a class="boodet-btn new-design width-200" href="#">
                Создать сервер
              </a>
            </div>
            <div class="col-xl-3 d-none d-xl-block">
              <img src="images/server.svg" class="server-image" alt="Виртуальный сервер">
            </div>
          </div>
        
        </div>
      </div>
      
      <div class="section-new bg__white-to-gray art-bg with-border-bottom">
        <div class="container">
          <h2 class="section-title m2b-44">
            Персональная конфигурация виртуального сервера
          </h2>
          <div class="section-description max-width-570 m2b-44">
            Вы можете выбрать нужный размер диска, операционную систему и количество ядер вашего виртуального процессора.
          </div>
          <div class="boodet-price-configurator with-shadow">
            <div class="price-configurator-row">
              <div class="form-group">
                <label>Операционная&nbsp;система</label>
                <v-select :items="selectOs"
                          v-model="selectOsValue"
                          return-object
                          input-vilue="value"
                          input-text="text"
                          offset-y
                          nudge-top="-5"
                          class="label-output">
                </v-select>
              </div>
      
              <div>
                <label>CPU</label>
                <div class="slider-form-group without-label">
                  <input  v-model="computedCPU" type="text" class="form-control" disabled>
                  <v-slider v-model="sliderCPUValue" max="9" @input="changeCPU"></v-slider>
                </div>
              </div>
      
              <div>
                <label>ОЗУ</label>
                <div class="slider-form-group without-label">
                  <input  v-model="computedRAM" type="text" class="form-control" disabled>
                  <v-slider v-model="sliderRAMValue" max="13" :min="minRamSize" @input="changeRAM"></v-slider>
                </div>
              </div>
      
              <div>
                <label>Размер&nbsp;SSD-диска</label>
                <div class="slider-form-group without-label">
                  <input  v-model="computedBootDisk" type="text" class="form-control" disabled>
                  <v-slider v-model="sliderBootDiskValue" :min="minBootDiskSize" max="7"></v-slider>
                </div>
              </div>
      
              <!--<div class="boodet-total-price-button m2t-40 m2b-20">
                <button class="boodet-btn" @click="buyProduct">
                  <span class="alt-1-display-none">Купить за </span>{{Math.floor(totalPrice).toLocaleString('ru-RU')}}&nbsp;&#8381;<span class="font-sm">/мес</span>
                </button>
              </div>-->
      
              <div class="boodet-total-price-button alt-1 m2b-20">
                <label class="m2l-10 m2t-6 m2b-20">Создать за</label>
                <button class="boodet-btn alt-1" @click="buyProduct">
                  <span class="alt-1-display-none">Купить за </span>{{Math.floor(totalPrice).toLocaleString('ru-RU')}}&nbsp;&#8381;<span class="font-sm">/мес</span>
                  <img class="p2l-24" src="images/arrow_button.svg">
                </button>
              </div>
    
            </div>
          </div>
        </div>
      </div>
  
      <div class="section-new with-border-bottom bg__white">
        <div class="container">
          <h2 class="section-title m2b-54">
            Ваши преимущества
          </h2>
          <div class="row">
            <div class="col-lg m2y-22">
              <div class="brand-border-number center m2b-24">1</div>
              <div class="text-center">
                В любой момент вы можете снизить или увеличить потребление ресурсов.
                Платите только за то, что используете.
              </div>
            </div>
            <div class="col-lg m2y-22">
              <div class="brand-border-number center m2b-24">2</div>
              <div class="text-center">
                Используйте приготовленные нами образы бесплатных и коммерческих операционных систем или устанавливайте свои.
              </div>
            </div>
            <div class="col-lg m2y-22">
              <div class="brand-border-number center m2b-24">3</div>
              <div class="text-center">
                Удобный личный кабинет, чтобы управлять виртуальными серверами и общаться с техподдерржкой.
              </div>
            </div>
          </div>
          <div class="text-center m2t-54">
            <button class="boodet-btn new-design">Рассчитать цену</button>
          </div>
        </div>
      </div>
  
      <div class="section-new bg__gray-to-white">
        <div class="container">
          <h2 class="section-title m2b-44">
            Готовые конфигурации
          </h2>
          <div class="section-description max-width-570 m2b-44">
            Цена указана с учетом скидки 20% при оплате за 12 месяцев.
          </div>
          
          <div class="table-container d-none d-md-block">
            <table class="boodet-table">
              <thead>
              <tr>
                <th>Тариф</th>
                <th>Диск</th>
                <th>Процессор</th>
                <th>Память</th>
                <th>ОС</th>
                <th class="text-center">Цена</th>
              </tr>
    
              </thead>
              <tbody>
                <tr>
                  <td class="strong">Basic</td>
                  <td>10 GB</td>
                  <td>1 vCPU</td>
                  <td>1 RAM</td>
                  <td>Linux</td>
                  <td class="strong text-xs-right width-186">
                    <span>408 ₽/мес</span>
                    <img class="p2l-44" src="images/arrow_button.svg">
                  </td>
                </tr>
                <tr>
                  <td class="strong">Standart</td>
                  <td>20 GB</td>
                  <td>2 vCPU</td>
                  <td>4 RAM</td>
                  <td>Linux</td>
                  <td class="strong text-xs-right width-186">
                    <span>634 ₽/мес</span>
                    <img class="p2l-44" src="images/arrow_button.svg">
                  </td>
                </tr>
                <tr>
                  <td class="strong">Monster</td>
                  <td>60 GB</td>
                  <td>4 vCPU</td>
                  <td>8 RAM</td>
                  <td>Linux</td>
                  <td class="strong text-xs-right width-186">
                    <span>1676 ₽/мес</span>
                    <img class="p2l-44" src="images/arrow_button.svg">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="table-tariffs-mobile d-md-none">
            <div class="table-item-mobile">
              <div class="flex-row">
                <div class="weight-500">Basic</div>
                <div><img class="p2l-44" src="images/arrow_button.svg"></div>
              </div>
              <div class="flex-row">
                <div class="th">Диск</div>
                <div>10 GB</div>
              </div>
              <div class="flex-row">
                <div class="th">Процессор</div>
                <div>1 vCPU</div>
              </div>
              <div class="flex-row">
                <div class="th">Память</div>
                <div>1 GB</div>
              </div>
              <div class="flex-row">
                <div class="th">ОС</div>
                <div>Linux</div>
              </div>
              <div class="flex-row">
                <div class="th">Цена</div>
                <div class="weight-500">408 ₽/мес</div>
              </div>
            </div>
  
            <div class="table-item-mobile">
              <div class="flex-row">
                <div class="weight-500">Standart</div>
                <div><img class="p2l-44" src="images/arrow_button.svg"></div>
              </div>
              <div class="flex-row">
                <div class="th">Диск</div>
                <div>20 GB</div>
              </div>
              <div class="flex-row">
                <div class="th">Процессор</div>
                <div>2 vCPU</div>
              </div>
              <div class="flex-row">
                <div class="th">Память</div>
                <div>4 GB</div>
              </div>
              <div class="flex-row">
                <div class="th">ОС</div>
                <div>Linux</div>
              </div>
              <div class="flex-row">
                <div class="th">Цена</div>
                <div class="weight-500">634 ₽/мес</div>
              </div>
            </div>
  
            <div class="table-item-mobile">
              <div class="flex-row">
                <div class="weight-500">Monster</div>
                <div><img class="p2l-44" src="images/arrow_button.svg"></div>
              </div>
              <div class="flex-row">
                <div class="th">Диск</div>
                <div>60 GB</div>
              </div>
              <div class="flex-row">
                <div class="th">Процессор</div>
                <div>4 vCPU</div>
              </div>
              <div class="flex-row">
                <div class="th">Память</div>
                <div>8 GB</div>
              </div>
              <div class="flex-row">
                <div class="th">ОС</div>
                <div>Linux</div>
              </div>
              <div class="flex-row">
                <div class="th">Цена</div>
                <div class="weight-500">1676 ₽/мес</div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="section-new no-padding bg__white">
        <div class="container">
          <h2 class="section-title m2b-44">
            VPS/VDS серверы с тестовым периодом
          </h2>
          <div class="section-description max-width-770 m2b_76">
            Аренда VDS сервера нужна компаниям, которые активно используют интернет-технологии для продвижения
            или создания продуктов и услуг. <span class="boodet-bg-text with-padding">Современный физический сервер</span>
            должен регулярно модернизироваться для того, чтобы обеспечить высокую производительность.
            Арендуя виртуальный сервер от Boodet.online,
            вы получаете <span class="boodet-bg-text with-padding">эффективный работоспособный продукт,</span>
            выдерживающий любые пиковые нагрузки без потери скорости.
          </div>
          
          <div class="container__gray-bg-bordered m2b_76">
            <h4 class="title-4 m2b_28">Почему выгодно арендовать VPS/VDS серверы:</h4>
            <ul class="boodet-list">
              <li>Это дешевле, чем обновлять комплектующие.</li>
              <li>Не нужно оплачивать работу внутреннего IT-отдела.</li>
              <li>Полностью легальный софт для всех сотрудников по цене одной лицензии.</li>
              <li>Регулярные обновления ПО и операционной системы.</li>
              <li>Рабочие места для офисных и удаленных сотрудников без расходов за аренду.</li>
              <li>Вы сами задаете все параметры доступа для сотрудников.</li>
              <li>Можно увеличить дисковое пространство или производительность одним кликом.</li>
              <li>Служба поддержки решает ваши вопросы круглосуточно и без выходных.</li>
            </ul>
          </div>
  
          <div class="section-description m2b_32">
            Не уверены, что вашему бизнесу нужен VDS или VPS сервер? У нас есть тестовый период.
            Можно попробовать и убедиться, что аренда виртуального сервера — это удобно и прибыльно.
          </div>
  
          <div class="text-center">
            <button class="boodet-btn new-design">
              Попробовать
            </button>
          </div>
        </div>
      </div>
  
      <div class="section-new bg__white-to-gray">
        <div class="container">
          <h2 class="section-title m2b-56">
            Почему мы
          </h2>
          <div class="advantages-row m2b_44">
            <div class="advantage-item">
              <div class="icon show">
                <img src="images/1.svg">
              </div>
              <div class="title">
                От&nbsp;72 руб/месяц за&nbsp;сервер
              </div>
              <div class="description">
                Виртуальные мощности по&nbsp;карману каждому. Удобная почасовая оплата, быстрое масштабирование.
              </div>
            </div>
            <div class="advantage-item">
              <div class="icon show">
                <img src="images/2.svg">
              </div>
              <div class="title">
                Не просто надежность
              </div>
              <div class="description">
                Ваши данные под&nbsp;защитой и&nbsp;хранятся в&nbsp;дата-центрах современного уровня, SLA&nbsp;99,95%.
              </div>
            </div>
            <div class="advantage-item">
              <div class="icon show">
                <img src="images/3.svg">
              </div>
              <div class="title">
                Используем только&nbsp;SSD
              </div>
              <div class="description">
                Современные технологии для беспрецедентной скорости и&nbsp;комфорта на&nbsp;всех виртуальных машинах.
              </div>
            </div>
          </div>
          <div class="divider-gray-1 m2b_56"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="row-item-container text-center">
                <img src="images/icons/guarantees.svg" class="m2b_32">
                <div class="title title-4 text-center m2b_26">Гарантии</div>
                <div class="text-center">
                  Boodet.online гарантирует качество услуг, стабильность соединения и безопасность ваших данных.
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="row-item-container text-center">
                <img src="images/icons/activation.svg"  class="m2b_32">
                <div class="title title-4 text-center m2b_26">Быстрая активация</div>
                <div class="text-center">
                  Все сервисы будут доступны сразу после оплаты, не придется ждать долго.
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="row-item-container text-center">
                <img src="images/icons/settings.svg"  class="m2b_32">
                <div class="title title-4 text-center m2b_26">Гибкие настройки</div>
                <div class="text-center">
                  Можно увеличивать мощность и объем диска для хранения данных.
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="row-item-container text-center">
                <img src="images/icons/time.svg" class="m2b_32">
                <div class="title title-4 text-center m2b_26">На связи 24/7</div>
                <div class="text-center">
                  Наша служба поддержки работает круглосуточно и без выходных. Ваш бизнес не зависит
                  от человеческого фактора специалистов IT-отдела.
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="row-item-container text-center">
                <img src="images/icons/payments.svg"  class="m2b_32">
                <div class="title title-4 text-center m2b_26">Открытые платежи</div>
                <div class="text-center">
                  Платите только за то, что используете. Если какие-либо опции не используются,
                  мы вам об этом сообщим и поможем сэкономить.
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="row-item-container text-center">
                <img src="images/icons/reability.png"  class="m2b_32">
                <div class="title title-4 text-center m2b_26">Надёжность</div>
                <div class="text-center">
                  Мы используем масштабируемую, безопасную платформу, способную обрабатывать различные типы нагрузок.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="section-new no-padding bg__white">
        <div class="container">
          <div class="tab-container m2t_120">
            <div class="row">
              <div class="col-md-4">
                <div class="tab-navigation">
                  <div class="tab-nav-item active" data-id="0">
                    Что такое VPS/VDS сервер?
                  </div>
                  <div class="tab-nav-item" data-id="1">
                    Для чего нужен виртуальный сервер?
                  </div>
                  <div class="tab-nav-item" data-id="2">
                    Что такое хостинг VPS/VDS серверов?
                  </div>
                  <div class="tab-nav-item" data-id="3">
                    Какие опции в личном кабинете?
                  </div>
                  <div class="tab-nav-item" data-id="4">
                    Как выбрать тариф?
                  </div>
                  <div class="tab-nav-item" data-id="5">
                    Где находятся серверы?
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="tab-content-item show" data-id="0">
                  <h3 class="title-3 m2b_28">Что такое VPS/VDS сервер?</h3>
                  <div>Арендуя VPS/VDS сервер, вы пользуетесь возможностями реального оборудования,
                    которое находится в специальном помещении и обслуживается высококлассными специалистами.
                    При этом вам не нужно покупать новые комплектующие, платить за обновление программ
                    и искать хостинг: мы все сделаем за вас и намного дешевле.
                  </div>
                </div>
                <div class="tab-content-item" data-id="1">
                  <h3 class="title-3 m2b_28">Для чего нужен виртуальный сервер?</h3>
                  <div class="m2b_28">VPS и VDS серверы покупают для обеспечения стабильной работы компании.
                    Используя облачные технологии от Boodet.online, вы получаете:
                  </div>
                  <ul class="boodet-list">
                    <li>Участие в программе лояльности.</li>
                    <li>Профессиональную службу поддержки, которая работает в вашем графике.</li>
                    <li>Защиту данных от хакерских и DDos-атак.</li>
                    <li>Root-доступ.</li>
                    <li>Внешний IP.</li>
                    <li>Виртуальный диск, объем которого можно изменить в любой момент.
                      Низкие финансовые затраты, несравнимые с суммами на покупку и апгрейд «железа» и софта.</li>
                    <li>Регулярное резервное копирование данных.</li>
                    <li>Поддержку Big Data.</li>
                    <li>Возможность разрабатывать и тестировать персонализированное программное обеспечение.</li>
                  </ul>
                </div>
                <div class="tab-content-item" data-id="2">
                  <h3 class="title-3 m2b_28">Что такое хостинг VPS/VDS серверов?</h3>
                  <div class="m2b_14">VPS/VDS — это вид хостинга, в рамках которого пользователи используют
                    виртуальный выделенный сервер. Физически серверы располагаются в специально подготовленных
                    Дата-центрах, где сотрудники высокой квалификации следят за параметрами,
                    которые обеспечивают работоспособность оборудования.
                  </div>
                  <div>Отдельные специалисты контролируют температуру в помещении, поэтому сбои
                    в работе физического оборудования сведены к минимуму, что гарантирует бесперебойную
                    работу вашего виртуального сервера.</div>
                </div>
                <div class="tab-content-item" data-id="3">
                  <h3 class="title-3 m2b_28">Какие опции в личном кабинете?</h3>
                  <ul class="boodet-list">
                    <li>Удобная консоль, через которую можно управлять сервером прямо в личном кабинете
                      в вашем браузере без подключения через удаленный рабочий стол.</li>
                    <li>При создании сервера можно указать сгенерированный в сторонней утилите SHH-ключ,
                      что обеспечивает более высокий уровень безопасности.</li>
                    <li>Возможность создавать снэпшоты – мгновенные снимки системы, к каждой из которых можно
                      в любой момент откатиться. Это помогает избежать случаев потери данных пользователем.</li>
                    <li>Можно создать резервный сервер в другом Дата-центре, что позволит быстро
                      переключиться на него в случае форс-мажорной ситуации.</li>
                    <li>Удобный чат для общения с консультантами и технической поддержкой.</li>
                  </ul>
                </div>
                <div class="tab-content-item" data-id="4">
                  <h3 class="title-3 m2b_28">Как выбрать тариф?</h3>
                  <div class="m2b_14">Как купить виртуальный VDS сервер, который подойдет для вашего бизнеса?
                    Специалисты Boodet.online проведут бесплатный аудит и порекомендуют оптимальное решение.
                  </div>
                  <div>Стоимость индивидуального тарифа можно рассчитать с помощью онлайн-калькулятора
                    или обратиться к менеджерам через форму обратной связи.</div>
                </div>
                <div class="tab-content-item" data-id="5">
                  <h3 class="title-3 m2b_28">Где находятся серверы?</h3>
                  <div class="m2b_28">Инфраструктура в двух современных дата-центрах:
                  </div>
                  <ul class="boodet-list">
                    <li>Data Space TIER III, ул. Шарикоподшипниковская.</li>
                    <li>МR4 / Марьина Роща 17-й пр-д Марьиной Рощи, д. 4, корп. 1 бизнес-центр «Марьина Роща».</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="price-configurator-with-select-period">
        <div class="price-section">
          <div class="container">
            <h2 class="section-title text-xs-center">Экономьте с&nbsp;нами!</h2>
            <div class="payment-type-row">
              <div class="payment-type-item"
                   :class="{'active': paymentMonthCount == 0}"
                   @click="setPaymentMonthCount('0')">
                <div class="payment-title">
                  Почасовая оплата
                </div>
                <div class="description">Без скидок</div>
              </div>
          
              <div class="payment-type-item"
                   :class="{'active': paymentMonthCount == 3}"
                   @click="setPaymentMonthCount('3')">
                <div class="payment-title">
                  Оплата за 3 месяца
                </div>
                <div class="description success-font-color semi-bold">Выгоднее на 10%</div>
              </div>
          
              <div class="payment-type-item"
                   :class="{'active': paymentMonthCount == 6}"
                   @click="setPaymentMonthCount('6')">
                <div class="payment-title">
                  Оплата за 6 месяцев
                </div>
                <div class="description success-font-color semi-bold">Выгоднее на 15%</div>
              </div>
          
              <div class="payment-type-item"
                   :class="{'active': paymentMonthCount == 12}"
                   @click="setPaymentMonthCount('12')">
                <div class="payment-title">
                  Оплата за 12 месяцев
                </div>
                <div class="description success-font-color semi-bold">Выгоднее на 20%</div>
              </div>
            </div>
        
            <div class="boodet-price-configurator">
              <div class="price-configurator-row">
                <div class="form-group">
                  <label>Операционная&nbsp;система</label>
                  <v-select :items="selectOs"
                            v-model="selectOsValue"
                            return-object
                            input-vilue="value"
                            input-text="text"
                            offset-y
                            nudge-top="-5"
                            class="label-output">
                  </v-select>
                </div>
            
                <div>
                  <label>CPU</label>
                  <div class="slider-form-group without-label">
                    <input  v-model="computedCPU" type="text" class="form-control" disabled>
                    <v-slider v-model="sliderCPUValue" max="9" @input="changeCPU"></v-slider>
                  </div>
                </div>
            
                <div>
                  <label>ОЗУ</label>
                  <div class="slider-form-group without-label">
                    <input  v-model="computedRAM" type="text" class="form-control" disabled>
                    <v-slider v-model="sliderRAMValue" max="13" :min="minRamSize" @input="changeRAM"></v-slider>
                  </div>
                </div>
            
                <div>
                  <label>Размер&nbsp;SSD-диска</label>
                  <div class="slider-form-group without-label">
                    <input  v-model="computedBootDisk" type="text" class="form-control" disabled>
                    <v-slider v-model="sliderBootDiskValue" :min="minBootDiskSize" max="7"></v-slider>
                  </div>
                </div>
            
                <div class="form-group select-payment-type">
                  <label>Оплата</label>
                  <v-combobox :items="selectPaymentType"
                              v-model="selectPaymentMonthCount"
                              class="label-output relative-top">
                  </v-combobox>
                </div>
            
                <div class="boodet-total-price-button m2b-20">
                  <label class="m2l-10 m2t-6 m2b-20">Создать за</label>
                  <a class="boodet-btn alt-1" href="https://my.boodet.online/login">
                    <span class="alt-1-display-none">Купить за </span>{{purchaseTotalPrice}}&nbsp;&#8381;<span class="font-sm">/мес</span>
                    <img class="p2l-24" src="images/arrow_button.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </v-app>
  </div>
</div>
  
  
<script>
    Vue.use(Vuetify);
    let vdcLocation =  {
      '19': 'Москва МР4',
      '1': 'Москва Б17',
      '2': 'Москва ДС1'
    }

    const ProductPrices = {
      currency: 'rub',
      VCPU: {
        month: 357.12,
        hour: 0.496
      },
      VMemory: {
        month: 126.72,
        hour: 0.176
      },
      BootDisk: {
        month: 5.04,
        hour: 0.007
      },
      TypicalDisk: {
        month: 5.04,
        hour: 0.007
      },
      IndividualDisk: {
        month: {
          gb: 5.04,
          iops: 2.52
        },
        hour: {
          gb: 0.007,
          iops: 0.0035
        }
      },
      ArchiveDisk: {
        month: 1.4112,
        hour: 0.00196
      },
      OSWindows: {
        month: 350,
        hour: 0.48611111111
      },
      ExternalIp: {
        month: 90,
        hour: 0.125
      },
      SnapshotPack: 0.2,

    };

    const RamCpuDiscounts = [
      { cpu: 1, ram: 0.5, percent: 0.94863 },
      { cpu: 1, ram: 1, percent: 0.260912 },
      { cpu: 1, ram: 2, percent: 0.217767 },
      { cpu: 1, ram: 4, percent: 0.160185 },
      { cpu: 1, ram: 8, percent: 0.108893 },
      { cpu: 2, ram: 1, percent: 0.517694 },
      { cpu: 2, ram: 2, percent: 0.448578 },
      { cpu: 2, ram: 4, percent: 0.359931 },
      { cpu: 2, ram: 8, percent: 0.265277 },
      { cpu: 4, ram: 1, percent: 0.672325 },
      { cpu: 4, ram: 2, percent: 0.620909 },
      { cpu: 4, ram: 4, percent: 0.54241 },
      { cpu: 4, ram: 8, percent: 0.437565 },
      { cpu: 4, ram: 16, percent: 0.317824 },
      { cpu: 6, ram: 12, percent: 0.461259 },
      { cpu: 6, ram: 18, percent: 0.385669 },
      { cpu: 8, ram: 16, percent: 0.473106 },
    ];

    function _findDiscountItem(cpu, ram) {
      return RamCpuDiscounts.find((item) => {
        return item.cpu === cpu && item.ram === ram;
      });
    }

    function calcMonthPrice(cpu, ram) {
      const discountItem = _findDiscountItem(cpu, ram);
      let resultCpuPrice = ProductPrices.VCPU.month * cpu;
      let resultRamPrice = ProductPrices.VMemory.month * ram;
      if (discountItem) {
        const discountPercent = discountItem.percent;
        resultCpuPrice = resultCpuPrice - resultCpuPrice * discountPercent;
        resultRamPrice = resultRamPrice - resultRamPrice * discountPercent;
      }

      return resultRamPrice + resultCpuPrice;
    }

    function require(v) {
      return !!v || "Это поле обязательно для заполнения";
    }

    function requireMultipleSelect(v) {
      return v.length > 0 || "Это поле обязательно для заполнения";
    }

    function testEmail(v) {
      return /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,20})+$/.test(v) || "Введите корректный E-mail";
    }

    function testPhone(v) {
      return /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){11}(\s*)?$/.test(v) || "Введите телефон";
    }

    new Vue({
      el: '#vue-app',
      data () {
        return {
          selectOs: [
            {
              text: "Linux",
              value: 'linux'
            },
            {
              text: "Windows",
              value: 'windows'
            }
          ],
          selectPaymentType: [
            {
              text: "Почасовая",
              value: '0'
            },
            {
              text: "Оплата за 3 месяца",
              value: '3'
            },
            {
              text: "Оплата за 6 месяцев",
              value: '6'
            },
            {
              text: "Оплата за 12 месяцев",
              value: '12'
            },
          ],
          selectOsValue: {text: "Linux", value: 'linux'},
          selectTestOSValue: "linux",
          selectVdcLocation: [
            {
              text: vdcLocation[19],
              value: '19'
            },
            {
              text: vdcLocation[1],
              value: '1'
            },
            {
              text: vdcLocation[2],
              value: '2'
            }
          ],
          selectVdcLocationValue: '19',
          cpuArray: [1, 2, 4, 6, 8, 12, 16, 24, 32, 48],
          ramArray: [512, 1, 2, 4, 8, 12, 16, 24, 32, 48, 64, 96, 128, 224],
          bootDiskArray: [10, 20, 60, 100, 250, 500, 1000, 2000],
          sliderCPUValue: 0,
          sliderRAMValue: 0,
          sliderBootDiskValue: 0,
          externalIpValue: false,
          paymentMonthCount: '12',
          selectPaymentMonthCount: {
            text: "Оплата за 12 месяцев",
            value: '12'
          },

          testDialog: false,
          selectTargetValue: [],
          selectTarget: [
            {value: 'Хостинг веб-сайта', text: 'Хостинг веб-сайта'},
            {value: 'Среда для разработки или тестирования ПО', text: 'Среда для разработки или тестирования ПО'},
            {value: 'Сервер для 1С', text: 'Сервер для 1С'},
            {value: 'Сервер для Forex', text: 'Сервер для Forex'},
            {value: 'Удаленный рабочий стол', text: 'Удаленный рабочий стол'},
            {value: 'Почтовый сервер', text: 'Почтовый сервер'},
            {value: 'Хранение файлов и бэкапов', text: 'Хранение файлов и бэкапов'},
            {value: 'VPN-сервер', text: 'VPN-сервер'},
            {value: 'Игровой сервер', text: 'Игровой сервер'},
            {value: 'Прокси-сервер', text: 'Прокси-сервер'},
            {value: 'IP-телефония', text: 'IP-телефония'},
            {value: 'Сервер для видеонаблюдения', text: 'Сервер для видеонаблюдения'},
            {value: 'Сервер для интернета вещей', text: 'Сервер для интернета вещей'},
            {value: 'Свой вариант', text: 'Свой вариант'},
          ],
          selectOS: [
            {value: 'Windows', text: 'Windows'},
            {value: 'Linux', text: 'Linux'},
          ],

          ownVariant: '',
          ipCount: '',
          isPrivateNetwork: 'Да',
          phone: '',
          email: '',
          agreement: true,
          requireRules: [
            require
          ],
          requireMultipleSelectRules: [
            requireMultipleSelect
          ],
          emailRules: [
            require,
            testEmail
          ],
          phoneRules: [
            require,
            testEmail
          ]
          
        }

      },

      computed: {
        
        isShowTextFiledForOwnVariant() {
          let result = false

          this.selectTargetValue.forEach((item) => {
            if (item === 'Свой вариант') {
              result = true
            }
          })
          
          return result
        },

        computedCPU: function() {
          return this.cpuArray[this.sliderCPUValue];
        },
        computedRAM: function() {
          if (this.sliderRAMValue === 0 ) {
            return this.ramArray[this.sliderRAMValue] + ' MB';
          } else {
            return this.ramArray[this.sliderRAMValue] + ' GB';
          }
        },
        computedBootDisk: function() {
          return this.bootDiskArray[this.sliderBootDiskValue] + ' GB';
        },
        computedBandwidth: function() {
          return this.bandwidthArray[this.sliderBandwidthValue] + ' Мбит/с';
        },

        isConfigBackup: function() {
          let result = false;

          for (let key in this.backup) {
            if (this.backup[key]) {
              result = true;
            }
          }

          return result;
        },

        minBootDiskSize: function() {
          if (this.selectOsValue.value === 'windows') {
            return 2;
          } else {
            return 0;
          }
        },

        minRamSize: function() {
          if (this.selectOsValue.text && this.selectOsValue.text.indexOf('Windows') !== -1) {
            return 1;
          } else {
            return 0;
          }
        },

        portalUrl: function() {
          const host = 'https://my.boodet.online/registration';

          let url = host + '?vcpus=' + this.cpuArray[this.sliderCPUValue];
          url += '&memory=' + this.ramArray[this.sliderRAMValue];
          url += '&bootDiskSize=' + this.bootDiskArray[this.sliderBootDiskValue];
          url += '&os=' + this.selectOsValue.value;

          return url;

        },

        totalPrice: function () {

          let price = 0;

          price = this.bootDiskArray[this.sliderBootDiskValue] * ProductPrices.BootDisk.month;
          const targetRam = this.sliderRAMValue === 0 ? 0.5 : this.ramArray[this.sliderRAMValue];
          price += calcMonthPrice(
            this.cpuArray[this.sliderCPUValue],
            targetRam
          );

          // if (this.sliderBandwidthValue) {
          //   price += (this.bandwidthArray[this.sliderBandwidthValue] - 10) * 7.5;
          // }

          if (this.selectOsValue.value === 'windows') {
            if (this.cpuArray[this.sliderCPUValue] <= 8) {
              price += ProductPrices.OSWindows.month;
            } else {
              price += ProductPrices.OSWindows.month + Math.round((this.cpuArray[this.sliderCPUValue] - 8)/2)*350;
            }

          }

          return price;
        },

        purchaseTotalPrice: function () {

          let price = 0;

          price = this.bootDiskArray[this.sliderBootDiskValue] * ProductPrices.BootDisk.month;
          const targetRam = this.sliderRAMValue === 0 ? 0.5 : this.ramArray[this.sliderRAMValue];
          price += calcMonthPrice(
            this.cpuArray[this.sliderCPUValue],
            targetRam
          );

          // if (this.sliderBandwidthValue) {
          //   price += (this.bandwidthArray[this.sliderBandwidthValue] - 10) * 7.5;
          // }

          if (this.selectOsValue.value === 'windows') {
            if (this.cpuArray[this.sliderCPUValue] <= 8) {
              price += ProductPrices.OSWindows.month;
            } else {
              price += ProductPrices.OSWindows.month + Math.round((this.cpuArray[this.sliderCPUValue] - 8)/2)*350;
            }

          }

          switch (this.paymentMonthCount) {
            case '3':
              price = price * 0.9;
              break;
            case '6':
              price = price * 0.85;
              break;
            case '12':
              price = price * 0.8;
              break;
          }

          return Math.floor(price).toLocaleString('ru-RU');
        }
      },

      watch: {
        selectPaymentMonthCount(value) {
          this.paymentMonthCount = value.value
        }
      },

      methods: {
        
        sendTestForm() {
          if (this.$refs.testForm.validate()) {
            let requestData = {
              notifications_request: {
                key_name: 'selection_help',
                provided_data: {
                  tasks: this.selectTargetValue.toString(),
                  task: this.ownVariant,
                  os: this.selectTestOSValue,
                  network: this.isPrivateNetwork,
                  ip: this.ipCount,
                  cpu: this.computedCPU,
                  ram: this.computedRAM,
                  hdd: this.computedBootDisk,
                  agreement: this.agreement
                }
              }
            }

            if (this.email) {
              requestData.notifications_request.emails = [this.email]
            } else if (this.phone) {
              requestData.notifications_request.phones = [this.phone]
            }


            $.ajax({
              type: 'POST',
              contentType: 'application/json',
              url: '/api/notifications/v1/notifications_requests',
              data: JSON.stringify(requestData),
              success: function(data){
                this.testDialog = false
                $('#successModal').modal('show')
              }.bind(this),
              error: function(error) {
                this.testDialog = false
                if (error && error.responseJSON && error.responseJSON.errors && error.responseJSON.errors.uuid
                  && error.responseJSON.errors.uuid[0] === 'has already been taken') {
                  $('#emailHasModal').modal('show')
                } else {
                  $('#errorModal').modal('show')
                }
              }.bind(this)
            });
          }
          
        },
        
        buyProduct() {
          window.location = this.portalUrl
        },
        clearForm() {
          this.selectTargetValue = []
          this.ownVariant = ''
          this.ipCount = ''
          this.isPrivateNetwork = 'Да'
          this.phone = ''
          this.email = ''
          this.agreement = true
          this.sliderCPUValue = 0
          this.sliderRAMValue = 0
          this.sliderBootDiskValue = 0
        },
        changeCPU: function () {
          if (this.sliderCPUValue === 0) {
            if (this.sliderRAMValue !== 0) {
              this.sliderRAMValue = 0;
            }
          } else if (this.sliderCPUValue > 0 && this.sliderCPUValue <= 2) {
            if (this.sliderRAMValue < 1  || this.sliderRAMValue > 4) {
              this.sliderRAMValue = 1;
            }
          } else if (this.sliderCPUValue > 2 && this.sliderCPUValue <= 38) {
            if (this.ramArray[this.sliderRAMValue] !== this.cpuArray[this.sliderCPUValue]*2) {
              this.sliderRAMValue = this.ramArray.indexOf(this.cpuArray[this.sliderCPUValue]*2)
            }
          } else if (this.sliderCPUValue > 8) {
            if (this.sliderRAMValue < 11) {
              this.sliderRAMValue = 11;
            }
          }
        },

        changeRAM: function () {
          if (this.sliderRAMValue === 0) {
            if (this.sliderCPUValue !== 0) {
              this.sliderCPUValue = 0;
            }
          } else if (this.sliderRAMValue <= 4) {
            if (this.sliderCPUValue > 2) {
              this.sliderCPUValue = 1;
            }
          } else if (this.sliderRAMValue > 4 && this.sliderRAMValue <= 10) {
            if (this.cpuArray[this.sliderCPUValue] !== this.ramArray[this.sliderRAMValue]/2) {
              this.sliderCPUValue = this.cpuArray.indexOf(this.ramArray[this.sliderRAMValue]/2)
            }
          } else if (this.sliderRAMValue > 10) {
            if (this.sliderCPUValue < 9) {
              this.sliderCPUValue = 9;
            }
          }
        },

        addDisk: function() {
          let newDisk = {
            key: this.additionalDiskCount,
            id: this.additionalDiskCount,
            type: 'standart',
            diskSize: 10,
            diskSpeed: 1000
          };

          this.additionalDisks.push(newDisk);
          this.additionalDiskCount++;
        },

        removeDisk: function(diskId) {
          let newArray = _.filter(this.additionalDisks, function(disk) {
            return disk.id !== diskId;
          });

          this.additionalDisks = newArray;
        },

        changeAdditionalDiskSize: function(index, value) {
          let diskIndex = _.findIndex(this.additionalDisks, function(disk) {
            return disk.id === index;
          });

          this.additionalDisks[diskIndex].diskSize = value;
        },

        changeAdditionalDiskSpeed: function(index, value) {
          let diskIndex = _.findIndex(this.additionalDisks, function(disk) {
            return disk.id === index;
          });

          this.additionalDisks[diskIndex].diskSpeed = value;
        },

        changeAdditionalDiskType: function(index, value) {
          let diskIndex = _.findIndex(this.additionalDisks, function(disk) {
            return disk.id === index;
          });

          this.additionalDisks[diskIndex].type = value;
        },

        setPaymentMonthCount(count) {
          this.paymentMonthCount = count
        },

      },


    })
  </script>

<footer class="gray-bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="block-title">Продукты</div>
        <div class="m2b_8"><a href="#">Виртуальные серверы</a></div>
        <div class="m2b_8"><a href="#">Хранилище</a></div>
        <div class="m2b_8"><a href="#">Цены</a></div>
        <div class="m2b_8"><a href="#">Документация</a></div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="block-title">Компания</div>
        <div class="m2b_8"><a href="#">Балловая система</a></div>
        <div class="m2b_8"><a href="#">Юридическая информация</a></div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="block-title">Контакты</div>
        <div class="m2b_8"><a href="tel:+74996490990">+7 499 649 09 90</a></div>
        <div class="m2b_8"><a href="mailto:info@boodet.online">info@boodet.online</a></div>
        <div class="m2b_8"><a href="#">Обратная связь</a></div>
      </div>
      <div class="col-sm-12 col-lg-3">
        <div class="block-title">Сообщество</div>
        <div class="m2b_8"><a href="#">Блог о стартапах</a></div>
        <div class="m2b_8"><a href="#">Facebook</a></div>
        <div class="m2b_8"><a href="#">Youtube</a></div>
      </div>
    </div>

    <div class="copyright">© Boodet.online, 2017–2019</div>
  </div>
</footer>


</body>
</html>