
@font-face {
    font-family: CRC25;
    src: url(../fonts/CRC25.otf);
}

@font-face {
    font-family: CRC35;
    src: url(../fonts/CRC35.otf);
}

@font-face {
    font-family: CRC75;
    src: url(../fonts/CRC75.otf);
}

body {
    font-family: CRC35, Verdana, sans-serif;
    color: black;
}

.extra-bold {
    font-family: CRC75, Verdana, sans-serif;
}

.main-header {
    font-size: 54px;
    line-height: 60px;
}

.logo {
    width: 100%;
    height: auto;
    padding-right: 50px;
}

#main-navigation {
    position: fixed;
    top: 0;
    z-index: 1001;
    margin-top: 40px;
    margin-left: -30px;
}

#main-navigation nav ul {
    background-color: rgba(255, 255, 255, 0.92);
}

#main-navigation .nav a {
    color: black;
}

#main-navigation .navbar-right a {
    color: #3ac0a2;
}

#main-navigation .navbar-right a:hover, #main-navigation .navbar-right a:focus {
    color: #3ac0a2 !important;
    text-decoration: underline;
}

.nav li a:hover, .nav li a:focus {
    background-color: inherit;
    color: #cd6666 !important;
}

.nav li.active a {
    color: #cd6666 !important;
}

.nav li.active .nav-text{
    border: none !important;
}

.nav li a:hover .nav-text, .nav li a:focus .nav-text{
    border-bottom: 1px dashed #cd6666;
}

.nav-text {
    display: inline-block;
    border-bottom: 1px dashed #000;
}

header .navbar {
    margin-bottom: 0;
}

.main-logo {
    margin-top: -28px;
}

@media (max-width: 1399px) {
    .main-logo {
        margin-top: 15px;
    }

    .main-header {
        font-size: 40px;
        line-height: 50px;
    }

    .slide-text {
        font-size: 24px;
        line-height: 40px !important;
    }
}

@media (max-width: 991px) {
    .main-logo {
        margin-top: 22px;
    }

    .main-header {
        font-size: 32px;
        line-height: 38px;
    }

    .slide-text {
        font-size: 20px;
        line-height: 30px !important;
    }

    .tariff-img {
        position: relative !important;
    }
}

.navbar-nav > li > a {
    padding: 10px;
}

.header-row {
    margin-top: 70px;
}

.navbar-header button {
    border: 1px solid #000;
}

.navbar-header .icon-bar {
    background-color: black;
}

.slide-text {
    font-family: CRC25, Verdana, sans-serif;
    line-height: 44px;
    margin-top: -5px;
}

.section-wrap {
    position: relative;
}

.section {
    margin-top: 130px;
    transition: all 1s ease;
    position: relative;
}

.slide-video  {
    border: 1px solid #e0e0e0;
}

.section .img-header {
    height: 30px;
    max-width: 100%;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    background-color: #f9f9f9;
}

.section .img-header .img-header-circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    background-color: white;
    margin-top: 10px;
}

.section .img-header .img-header-circle:first-child {
    margin-left: 10px;
}

.try-free-btn {
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #ce6667;
    color: white;
    vertical-align: middle;
    cursor: pointer;
}

.try-free-btn:hover {
    background-color: #b23e3f;
}

.try-free-btn .try-free-main-text {
    font-size: 48px;
    line-height: 63px;
    text-decoration: underline;
}

.try-free-second-text {
    margin-bottom: -4px;
}

.try-free-btn .btn-text-container {
    padding: 120px 60px;
}

.section-title {
    margin-top: 140px;
    font-size: 80px;
}

nav.tariffs {
    font-size: 30px;
    position: relative;
}

nav.tariffs li {
    padding: 15px 25px;
    cursor: pointer;
}

nav.tariffs li.with-icon {
    top: -2px;
}

.object-icon {
    position: relative;
    margin-left: 7px;
    height: 32px;
    width: 30px;
    display: inline-block;
}

.object-icon svg {
    fill: black;
}

.object-icon:after {
    content: '';
    position: absolute;
    display: none;
    top: 34px;
    left: -7px;
    right: 0;
    border: 1px solid #ce6667;
    z-index: 2;
}

nav.tariffs li:hover {
    color: #ce6667;
}

nav.tariffs li:hover .object-icon svg {
    fill: #ce6667;
}

nav.tariffs li.active .object-icon:after {
    display: block;
}

nav.tariffs li.active .object-icon svg {
    fill: #ce6667;
}

nav.tariffs li.active {
    color: #ce6667;
    text-decoration: underline;
}

nav.tariffs li:first-child {
    padding-left: 15px;
}

nav.tariffs li img {
    margin-top: -22px;
    margin-left: 10px;
}

.icon {
    margint-top: -12px;
    height: 36px;
    cursor: pointer;
}

.icon:hover {
    color: #ce6667;
}

.tariff-wrap {
   border-bottom: 5px solid #d56d6e;
    position: relative;
}

.tariff-block {
    left: 0;
    transition: left 1.5s ease;
}

.hidden {
    display: none;
}
.visuallyhidden {
    opacity: 0;
}

.hidden-left {
    left: 150%;
}

.tariff-wrap > .row {
    position: relative;
}

.tariff-img img {
    max-width: 100%;
}

.tariff-img {
    position: absolute;
    bottom: 0;
}

.tariff-title {
    font-size: 40px;
}

#tariff-1 {
    background-image: url("../img/velo.png");
    background-repeat: no-repeat;
    background-position: 97% 100%;
}

#tariff-2 {
    background-image: url("../img/moped.png");
    background-repeat: no-repeat;
    background-position: 97% 100%;
}

#tariff-3 {
    background-image: url("../img/truck.png");
    background-repeat: no-repeat;
    background-position: 97% 100%;
}

#tariff-4 {
    background-image: url("../img/checkpoint.png");
    background-repeat: no-repeat;
    background-position: 97% 100%;
}

#tariff-5 {
    background-image: url("../img/train.png");
    background-repeat: no-repeat;
    background-position: 97% 100%;
}

#tariff-6 {
    background-image: url("../img/cars.png");
    background-repeat: no-repeat;
    background-position: 97% 100%;
}

.tariff-description {
    font-size: 30px;
    display: block;
    padding-bottom: 50px;
}

.strong {
    font-family: CRC75, Verdana, sans-serif;
}

.tariff-functionality {
    background-color: #fdf7f7;
    padding: 30px;
    color: #0b0505;
    position: relative;
    transition: opacity 1.5s ease;
}

.tariff-functionality p {
    margin: 10px 0;
}

.second-row {
    margin-top: 30px;
}

.tariff-price {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: #3ac0a2;
    position: absolute;
    right: -30px;
    bottom: -90px;
    cursor: pointer;
}

.tariff-price:hover {
    background-color: #0ba885;
}

.tariff-price-text {
    font-size: 30px;
    line-height: 32px;
    color: white;
    margin: 70px 15px;
    display: block;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;


}

.rub {
    display: inline-block;
    border-bottom: 2px solid;
    line-height: 0;
    width: 13px;
    height: 5px;
    font-size: 30px;
    box-sizing: border-box;
}

.regular-text {
    font-size: 30px;
    line-height: 45px;
}

.security-section {
    margin-top: 80px;
}

.security-section img {
    display: block;
    height: 200px;
}

#cloud-img {
    margin-left: -40px;
    margin-bottom: -40px;
    height: 240px;
}


.security-title {
    font-size: 50px;
    display: block;
}

footer {
    margin-top: 100px;
    border-top: 5px solid #d56d6e;
    padding: 30px 0;
    font-family: Verdana, sans-serif;
    line-height: 25px;
}

footer a {
    color: #3ac0a2;
    text-decoration: underline;
}

footer a:hover {
    color: #d56d6e;
}

.crossed {
    text-decoration: line-through;
}

footer > .row {
    position: relative;
}

.bk-link {
    position: absolute;
    bottom: 0;
    right: 15px;
}

.bk-link img {
    width: 80px;
    margin-top: -8px;
}
